{
  "openapi": "3.0.0",
  "info": {
    "title": "API v1",
    "version": "1.0",
    "description": "API документация для работы с порталом AutoCall.kz",
    "contact": {
      "name": "Jason",
      "email": "info@autocall.kz",
      "url": "https://t.me/zhanomar"
    },
    "license": {
      "url": "https://autocall.kz/agreement",
      "name": "AutoCall API License"
    }
  },
  "servers": [
    {
      "url": "https://autocall.kz/api/v1"
    }
  ],
  "paths": {
    "/dashboard": {
      "get": {
        "summary": "1. Показать данные",
        "responses": {
          "200": {
            "description": "Ответ будет содержать данные со страницы панели мониторинга в виде объекта.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Объект с данными панели мониторинга",
                  "properties": {
                    "running&awaiting": {
                      "type": "integer",
                      "description": "Количество активных обзвонов (со статусами \"Выполняется\" и \"В ожидании\")"
                    },
                    "in_queue": {
                      "type": "integer",
                      "description": "Количество абонентов (номеров) в очереди"
                    },
                    "reserved": {
                      "type": "number",
                      "description": "Сумма замороженных средств"
                    },
                    "balance": {
                      "type": "number",
                      "description": "Текущий баланс"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Текущая валюта"
                    },
                    "week_activity": {
                      "type": "object",
                      "description": "Отображение результатов за последнюю неделю в виде объекта",
                      "required": [
                        "YYYY-MM-DD"
                      ],
                      "properties": {
                        "YYYY-MM-DD": {
                          "type": "object",
                          "description": "День, за который будут отображены данные в виде объекта",
                          "required": [
                            "all",
                            "success",
                            "recalled",
                            "no_answer",
                            "busy",
                            "error",
                            "spam"
                          ],
                          "properties": {
                            "all": {
                              "type": "integer",
                              "description": "Количество всех созданных звонков"
                            },
                            "success": {
                              "type": "integer",
                              "description": "Количество звонков, завершенных со статусом \"Успешно\""
                            },
                            "recalled": {
                              "type": "integer",
                              "description": "Количество звонков, которые завершились со статусом \"Перезвонили сами\""
                            },
                            "no_answer": {
                              "type": "integer",
                              "description": "Количество звонков, завершенных со статусом \"Нет ответа\""
                            },
                            "busy": {
                              "type": "integer",
                              "description": "Количество звонков, котрые завершились со статусом \"Занято\""
                            },
                            "error": {
                              "type": "integer",
                              "description": "Количество звонков, которые завершились со статусом \"Не существует\""
                            },
                            "spam": {
                              "type": "integer",
                              "description": "Количество звонков, которые завершились со статусом \"Пожаловались на СПАМ\""
                            }
                          }
                        }
                      }
                    },
                    "full_activity": {
                      "type": "object",
                      "required": [
                        "success",
                        "recalled",
                        "no_answer",
                        "busy",
                        "error",
                        "spam"
                      ],
                      "description": "Отображение результатов за всё время",
                      "properties": {
                        "success": {
                          "type": "integer",
                          "description": "Количество звонков, завершенных со статусом \"Успешно\""
                        },
                        "recalled": {
                          "type": "integer",
                          "description": "Количество звонков, которые завершились со статусом \"Перезвонили сами\""
                        },
                        "no_answer": {
                          "type": "integer",
                          "description": "Количество звонков, завершенных со статусом \"Нет ответа\""
                        },
                        "busy": {
                          "type": "integer",
                          "description": "Количество звонков, котрые завершились со статусом \"Занято\""
                        },
                        "error": {
                          "type": "integer",
                          "description": "Количество звонков, которые завершились со статусом \"Не существует\""
                        },
                        "spam": {
                          "type": "integer",
                          "description": "Количество звонков, которые завершились со статусом \"Пожаловались на СПАМ\""
                        }
                      }
                    }
                  },
                  "required": [
                    "running&awaiting",
                    "in_queue",
                    "reserved",
                    "balance",
                    "currency",
                    "week_activity",
                    "full_activity"
                  ]
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "running&awaiting": 10,
                      "in_queue": 19,
                      "reserved": 408.83,
                      "balance": 14.13,
                      "currency": "₸",
                      "week_activity": {
                        "2020-04-04": {
                          "all": 0,
                          "success": 0,
                          "recalled": 0,
                          "no_answer": 0,
                          "busy": 0,
                          "error": 0,
                          "spam": 0
                        },
                        "2020-04-05": {
                          "all": 0,
                          "success": 0,
                          "recalled": 0,
                          "no_answer": 0,
                          "busy": 0,
                          "error": 0,
                          "spam": 0
                        },
                        "2020-04-06": {
                          "all": 0,
                          "success": 0,
                          "recalled": 0,
                          "no_answer": 0,
                          "busy": 0,
                          "error": 0,
                          "spam": 0
                        },
                        "2020-04-07": {
                          "all": 0,
                          "success": 0,
                          "recalled": 0,
                          "no_answer": 0,
                          "busy": 0,
                          "error": 0,
                          "spam": 0
                        },
                        "2020-04-08": {
                          "all": 0,
                          "success": 0,
                          "recalled": 0,
                          "no_answer": 0,
                          "busy": 0,
                          "error": 0,
                          "spam": 0
                        },
                        "2020-04-09": {
                          "all": 0,
                          "success": 0,
                          "recalled": 0,
                          "no_answer": 0,
                          "busy": 0,
                          "error": 0,
                          "spam": 0
                        },
                        "2020-04-10": {
                          "all": 0,
                          "success": 0,
                          "recalled": 0,
                          "no_answer": 0,
                          "busy": 0,
                          "error": 0,
                          "spam": 0
                        }
                      },
                      "full_activity": {
                        "success": 2,
                        "recalled": 0,
                        "no_answer": 4,
                        "busy": 1,
                        "error": 0,
                        "spam": 0
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Данная ошибка возникает если Вы не указали API ключ в Header'е запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Описание ошибки"
                    }
                  },
                  "required": [
                    "message"
                  ]
                },
                "examples": {}
              }
            }
          },
          "429": {
            "description": "Вы отправляете слишком много запросов в минуту. \n\nДля новых пользователей установлен лимит 300 запросов в минуту. Если Вы хотите изменить этот лимит, то обратитесь в поддержку.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-dashboard",
        "description": "Получение данных со страницы панели мониторинга.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "Необходимо, чтобы сервер обработал JSON",
            "required": true
          },
          {
            "schema": {
              "default": "application/json",
              "type": "string"
            },
            "in": "header",
            "name": "Accept",
            "required": true,
            "description": "Необходимо, чтобы сервер ответил в JSON"
          }
        ],
        "tags": [
          "09 Панель мониторинга"
        ]
      }
    },
    "/settings": {
      "get": {
        "summary": "1. Получить настройки аккаунта",
        "responses": {
          "200": {
            "description": "Ответ будет содержать текущие настройки пользователя в виде объекта.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Объект с текущими настройками",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Имя пользователя"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Номер телефона пользователя без +7"
                    },
                    "sms_verified_at": {
                      "type": "string",
                      "description": "Дата, когда номер был подтверждён с помощью SMS кода"
                    },
                    "moderation": {
                      "type": "boolean",
                      "description": "Показывает включена ли модерация для пользователя"
                    },
                    "time_from": {
                      "type": "string",
                      "description": "С какого времени разрешена рассылка пользователю"
                    },
                    "time_to": {
                      "type": "string",
                      "description": "До какого времени разрешена рассылка"
                    },
                    "price": {
                      "type": "string",
                      "description": "Цена за секунду соединения в обзвонах"
                    },
                    "sms_price": {
                      "type": "string",
                      "description": "Стоимость одного SMS сообщения"
                    },
                    "sip_price": {
                      "type": "string",
                      "description": "Стоимость за секунду соединения через АТС пользователя"
                    },
                    "speech_price": {
                      "type": "string",
                      "description": "Стоимость за один сеанс распознавания речи"
                    },
                    "synthesis_price": {
                      "type": "string",
                      "description": "Стоимость за один сеанс синтеза речи"
                    },
                    "recording_price": {
                      "type": "string",
                      "description": "Стоимость за одну запись разговора"
                    },
                    "recalled": {
                      "type": "integer",
                      "description": "Количество часов, в течение которого будут учитываться перезвонившие абоненты"
                    },
                    "subscribe": {
                      "type": "boolean",
                      "description": "Состояние подписки на новости об обновлениях портала через телефонные звонки"
                    },
                    "notifications_subscribe": {
                      "type": "boolean",
                      "description": "Дублирование уведомлений с портала через SMS"
                    },
                    "visit_card_audio": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "ID аудиозаписи, которая используется в качестве Визитной карточки"
                    },
                    "visit_card_text": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Текст SMS, отправляемое абонентам, которые захотели связаться с Вами"
                    },
                    "confirmed_numbers": {
                      "type": "array",
                      "description": "Массив с подтвержденными номерами пользователя",
                      "items": {
                        "description": "Каждый номер отображается в виде объекта",
                        "required": [
                          "id",
                          "number",
                          "verified_at",
                          "created_at",
                          "updated_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID номера"
                          },
                          "number": {
                            "type": "string",
                            "description": "Номер пользователя в формате +7XXXXXXXXXX"
                          },
                          "verified_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Дата подтверждения. Неподтвержденные номера будут удалены через 10 минут после добавления"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "description": "Объект с общей статистикой аккаунта",
                      "required": [
                        "duration",
                        "calls",
                        "confirmed_numbers",
                        "spam_reports",
                        "lists",
                        "contacts",
                        "autocalls",
                        "bulks",
                        "sms"
                      ],
                      "properties": {
                        "duration": {
                          "type": "integer",
                          "description": "Количество секунд использованных пользователем"
                        },
                        "calls": {
                          "type": "number",
                          "description": "Всего совершенных звонков в системе"
                        },
                        "confirmed_numbers": {
                          "type": "integer",
                          "description": "Количество подтвержденных номеров"
                        },
                        "spam_reports": {
                          "type": "integer",
                          "description": "Количество жалоб на СПАМ от абонентов на пользователя"
                        },
                        "lists": {
                          "type": "integer",
                          "description": "Количество созданных списков контактов"
                        },
                        "contacts": {
                          "type": "integer",
                          "description": "Количество добавленных контактов в систему"
                        },
                        "autocalls": {
                          "type": "integer",
                          "description": "Количество созданных обзвонов"
                        },
                        "bulks": {
                          "type": "integer",
                          "description": "Количество созданных SMS рассылок"
                        },
                        "sms": {
                          "type": "integer",
                          "description": "Количество отправленных SMS пользователем"
                        }
                      }
                    }
                  },
                  "required": [
                    "name",
                    "phone",
                    "sms_verified_at",
                    "moderation",
                    "time_from",
                    "time_to",
                    "price",
                    "sms_price",
                    "sip_price",
                    "speech_price",
                    "synthesis_price",
                    "recording_price",
                    "recalled",
                    "subscribe",
                    "notifications_subscribe",
                    "visit_card_audio",
                    "visit_card_text",
                    "confirmed_numbers",
                    "statistics"
                  ]
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "name": "Тестовый пользователь",
                      "phone": "7020000001",
                      "sms_verified_at": "2020-03-18 14:10:29",
                      "moderation": true,
                      "time_from": "00:00:00",
                      "time_to": "23:59:59",
                      "price": "0.34",
                      "sms_price": "8.00",
                      "sip_price": "0.10",
                      "speech_price": "15.00",
                      "synthesis_price": "3.00",
                      "recording_price": "3.00",
                      "recalled": 2,
                      "subscribe": true,
                      "notifications_subscribe": true,
                      "visit_card_audio": 2,
                      "visit_card_text": null,
                      "confirmed_numbers": [
                        {
                          "id": 1,
                          "number": "+77020000001",
                          "verified_at": "2019-12-08 23:46:06",
                          "created_at": "2019-12-08 23:46:06",
                          "updated_at": "2019-12-08 23:46:06"
                        },
                        {
                          "id": 3,
                          "number": "+77020000002",
                          "verified_at": null,
                          "created_at": "2020-03-19 17:10:27",
                          "updated_at": "2020-03-19 17:10:27"
                        }
                      ],
                      "statistics": {
                        "duration": 2,
                        "calls": "8",
                        "confirmed_numbers": 1,
                        "spam_reports": 0,
                        "lists": 27,
                        "contacts": 42,
                        "autocalls": 15,
                        "bulks": 9,
                        "sms": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Данная ошибка возникает если Вы не указали API ключ в Header'е запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "operationId": "get-settings",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "description": "Получение данных о настройках Вашего аккаунта.",
        "tags": [
          "07 Настройки"
        ]
      },
      "put": {
        "summary": "2. Редактировать настройки",
        "operationId": "put-settings",
        "responses": {
          "200": {
            "description": "Ответ будет содержать текущие настройки пользователя в виде объекта.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statistics": {
                      "type": "object",
                      "required": [
                        "duration",
                        "calls",
                        "confirmed_numbers",
                        "spam_reports",
                        "lists",
                        "contacts",
                        "autocalls",
                        "bulks",
                        "sms"
                      ],
                      "description": "Объект с общей статистикой аккаунта",
                      "properties": {
                        "duration": {
                          "type": "integer",
                          "description": "Количество секунд использованных пользователем"
                        },
                        "calls": {
                          "type": "number",
                          "description": "Всего совершенных звонков в системе"
                        },
                        "confirmed_numbers": {
                          "type": "integer",
                          "description": "Количество подтвержденных номеров"
                        },
                        "spam_reports": {
                          "type": "integer",
                          "description": "Количество жалоб на СПАМ от абонентов на пользователя"
                        },
                        "lists": {
                          "type": "integer",
                          "description": "Количество созданных списков контактов"
                        },
                        "contacts": {
                          "type": "integer",
                          "description": "Количество добавленных контактов в систему"
                        },
                        "autocalls": {
                          "type": "integer",
                          "description": "Количество созданных обзвонов"
                        },
                        "bulks": {
                          "type": "integer",
                          "description": "Количество созданных SMS рассылок"
                        },
                        "sms": {
                          "type": "integer",
                          "description": "Количество отправленных SMS пользователем"
                        }
                      }
                    },
                    "confirmed_numbers": {
                      "type": "array",
                      "description": "Массив с подтвержденными номерами пользователя",
                      "items": {
                        "type": "object",
                        "description": "Каждый номер отображается в виде объекта",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID номера"
                          },
                          "number": {
                            "type": "string",
                            "description": "Номер пользователя в формате +7XXXXXXXXXX"
                          },
                          "verified_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Дата подтверждения. Неподтвержденные номера будут удалены через 10 минут после добавления"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "number",
                          "verified_at",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    },
                    "visit_card_text": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Текст SMS, отправляемое абонентам, которые захотели связаться с Вами"
                    },
                    "visit_card_audio": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "ID аудиозаписи, которая используется в качестве Визитной карточки"
                    },
                    "notifications_subscribe": {
                      "type": "boolean",
                      "description": "Дублирование уведомлений с портала через SMS"
                    },
                    "subscribe": {
                      "type": "boolean",
                      "description": "Состояние подписки на новости об обновлениях портала через телефонные звонки"
                    },
                    "recalled": {
                      "type": "integer",
                      "description": "Количество часов, в течение которого будут учитываться перезвонившие абоненты"
                    },
                    "recording_price": {
                      "type": "string",
                      "description": "Стоимость за одну запись разговора"
                    },
                    "synthesis_price": {
                      "type": "string",
                      "description": "Стоимость за один сеанс синтеза речи"
                    },
                    "speech_price": {
                      "type": "string",
                      "description": "Стоимость за один сеанс распознавания речи"
                    },
                    "sip_price": {
                      "type": "string",
                      "description": "Стоимость за секунду соединения через АТС пользователя"
                    },
                    "sms_price": {
                      "type": "string",
                      "description": "Стоимость одного SMS сообщения"
                    },
                    "price": {
                      "type": "string",
                      "description": "Цена за секунду соединения в обзвонах"
                    },
                    "time_to": {
                      "type": "string",
                      "description": "До какого времени разрешена рассылка"
                    },
                    "time_from": {
                      "type": "string",
                      "description": "С какого времени разрешена рассылка пользователю"
                    },
                    "moderation": {
                      "type": "boolean",
                      "description": "Показывает включена ли модерация для пользователя"
                    },
                    "sms_verified_at": {
                      "type": "string",
                      "description": "Дата, когда номер был подтверждён с помощью SMS кода"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Номер телефона пользователя без +7"
                    },
                    "name": {
                      "type": "string",
                      "description": "Имя пользователя"
                    }
                  },
                  "required": [
                    "name",
                    "phone",
                    "sms_verified_at",
                    "moderation",
                    "time_from",
                    "time_to",
                    "price",
                    "sms_price",
                    "sip_price",
                    "speech_price",
                    "synthesis_price",
                    "recording_price",
                    "recalled",
                    "subscribe",
                    "notifications_subscribe",
                    "visit_card_audio",
                    "visit_card_text",
                    "confirmed_numbers",
                    "statistics"
                  ],
                  "description": "Объект с текущими настройками"
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "name": "Тестовый пользователь",
                      "phone": "7020000001",
                      "sms_verified_at": "2020-03-18 14:10:29",
                      "moderation": true,
                      "time_from": "00:00:00",
                      "time_to": "23:59:59",
                      "price": "0.34",
                      "sms_price": "8.00",
                      "sip_price": "0.10",
                      "speech_price": "15.00",
                      "synthesis_price": "3.00",
                      "recording_price": "3.00",
                      "recalled": 2,
                      "subscribe": true,
                      "notifications_subscribe": true,
                      "visit_card_audio": 2,
                      "visit_card_text": null,
                      "confirmed_numbers": [
                        {
                          "id": 1,
                          "number": "+77020000001",
                          "verified_at": "2019-12-08 23:46:06",
                          "created_at": "2019-12-08 23:46:06",
                          "updated_at": "2019-12-08 23:46:06"
                        },
                        {
                          "id": 3,
                          "number": "+77020000002",
                          "verified_at": null,
                          "created_at": "2020-03-19 17:10:27",
                          "updated_at": "2020-03-19 17:10:27"
                        }
                      ],
                      "statistics": {
                        "duration": 2,
                        "calls": "8",
                        "confirmed_numbers": 1,
                        "spam_reports": 0,
                        "lists": 27,
                        "contacts": 42,
                        "autocalls": 15,
                        "bulks": 9,
                        "sms": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Данная ошибка возникает если Вы не указали API ключ в Header'е запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Данная ошибка возникает если параметры Вашего запроса не прошли валидацию.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "required": [
                        "parameter name"
                      ],
                      "properties": {
                        "parameter name": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "description": "Данная ошибка может возникнуть очень редко при наличии проблем на сервере.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Вы можете изменить Ваше имя, подписку на обновления, подписку на SMS уведомления, задать аудиозапись для Визитной карточки, а также Задать текст SMS, которое будет отправлено вместе с Визитной карточкой.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 40,
                    "description": "Ваше Имя"
                  },
                  "subscribe": {
                    "type": "boolean",
                    "description": "Подписка на новости об обновлениях через звонки"
                  },
                  "notifications_subscribe": {
                    "type": "boolean",
                    "description": "Включение или отключение дублирования уведомлений через SMS"
                  },
                  "visit_card_audio": {
                    "type": "integer",
                    "description": "ID Вашей аудиозаписи, которую Вы хотите использовать в качестве визитки"
                  },
                  "visit_card_text": {
                    "type": "string",
                    "maxLength": 160,
                    "description": "Текст SMS сообщения для визитной карточки. Не более 1 SMS"
                  }
                }
              },
              "examples": {
                "Пример": {
                  "value": {
                    "name": "Jason",
                    "subscribe": true,
                    "notifications_subscribe": false,
                    "visit_card_audio": 1,
                    "visit_card_text": "Компания xTech, тел: +77470940670"
                  }
                }
              }
            }
          },
          "description": "Отправьте нужные Вам параметры для изменения."
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "tags": [
          "07 Настройки"
        ]
      },
      "parameters": []
    },
    "/settings/{visit_card_type}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "visit_card_audio",
              "visit_card_text"
            ],
            "default": "visit_card_audio"
          },
          "name": "visit_card_type",
          "in": "path",
          "required": true,
          "description": "Тип визитной карточки `visit_card_audio` или `visit_card_text`"
        }
      ],
      "delete": {
        "summary": "3. Удалить визитную карточку",
        "operationId": "delete-settings-visit_card",
        "responses": {
          "204": {
            "description": "При успешном удалении сервер вернёт 204 без какого либо содержания."
          },
          "401": {
            "description": "Данная ошибка возникает если Вы не указали API ключ в Header'е запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Данная ошибка возникает если параметры Вашего запроса не прошли валидацию.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "required": [
                        "visit_card"
                      ],
                      "properties": {
                        "visit_card": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "description": "Данная ошибка может возникнуть очень редко при наличии проблем на сервере.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "С помощью этого запроса Вы можете удалить визитную карточку, а именно SMS сообщение визитной карточки или аудиосообщение визитной карточки.",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "tags": [
          "07 Настройки"
        ]
      }
    },
    "/settings/confirmed_numbers": {
      "get": {
        "summary": "4. Получить список подтвержденных номеров",
        "responses": {
          "200": {
            "description": "Сервер вернет массив, внутри которого будут объекты с подтвержденными номерами.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID номера"
                      },
                      "number": {
                        "type": "string",
                        "description": "Номер в формате +7ХХХХХХХХХХ"
                      },
                      "verified_at": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Дата подтверждения номера, неподтвержденные номера удаляются автоматически через 10 минут после добавления"
                      },
                      "created_at": {
                        "type": "string"
                      },
                      "updated_at": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "number",
                      "verified_at",
                      "created_at",
                      "updated_at"
                    ]
                  }
                },
                "examples": {
                  "Пример": {
                    "value": [
                      {
                        "id": 1,
                        "number": "+77010000001",
                        "verified_at": "2019-12-08 23:46:06",
                        "created_at": "2019-12-08 23:46:06",
                        "updated_at": "2019-12-08 23:46:06"
                      },
                      {
                        "id": 3,
                        "number": "+77010000002",
                        "verified_at": null,
                        "created_at": "2020-03-19 17:10:27",
                        "updated_at": "2020-03-19 17:10:27"
                      },
                      {
                        "id": 4,
                        "number": "+77010000003",
                        "verified_at": null,
                        "created_at": "2020-03-19 17:13:23",
                        "updated_at": "2020-03-19 17:13:23"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Данная ошибка возникает если Вы не указали API ключ в Header'е запроса",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "operationId": "get-settings-confirmed_numbers",
        "description": "С помощью этого запроса Вы можете узнать какие номера телефонов добавлены в Ваш аккаунт",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "tags": [
          "07 Настройки"
        ]
      },
      "post": {
        "summary": "5. Подтвердить новый номер",
        "operationId": "post-settings-confirmed_numbers",
        "responses": {
          "201": {
            "description": "После успешной операции Вы получите код 201 с объектом нового номера",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "number",
                    "created_at",
                    "updated_at"
                  ]
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "number": "+77010000001",
                      "updated_at": "2020-04-11 17:13:15",
                      "created_at": "2020-04-11 17:13:15",
                      "id": 5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Данная ошибка возникает если Вы не указали API ключ в Header'е запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Данная ошибка возникает когда параметры Вашего запроса не прошли валидацию.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "verification_code": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "description": "Данная ошибка может возникнуть очень редко при наличии проблем на сервере.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "С помощью этого запроса Вы можете добавить новый номер для подтверждения, а также подтвердить номер с помощью кода подтверждения, полученного при звонке на специальный номер.",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "example": "+77010000001",
                    "minLength": 12,
                    "maxLength": 12,
                    "pattern": "^\\+7(700|701|702|705|707|708|747|771|775|776|777|778)\\d{7}$"
                  },
                  "verification_code": {
                    "type": "integer",
                    "minimum": 10000,
                    "maximum": 99999
                  }
                }
              }
            }
          },
          "description": "Если Вы хотите добавить новый номер, то отправьте параметр `number`, если Вы хотите подтвердить номер, то отправьте параметр `verification_code`."
        },
        "tags": [
          "07 Настройки"
        ]
      }
    },
    "/balance": {
      "get": {
        "summary": "1. Получить информацию о балансе",
        "responses": {
          "200": {
            "description": "В ответе Вы получите объект, содержащий информацию о Вашем балансе.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "description": "Ваш остаток на балансе"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Ваша текущая валюта"
                    }
                  },
                  "required": [
                    "balance",
                    "currency"
                  ]
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "balance": 14.13,
                      "currency": "₸"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Вы не отправили API ключ в HEADER'е запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "operationId": "get-balance",
        "description": "С помощью этого запроса Вы получите информацию о Вашем балансе",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "tags": [
          "08 Платежи"
        ]
      }
    },
    "/payments": {
      "get": {
        "summary": "2. Получить информацию о транзакциях",
        "responses": {
          "200": {
            "description": "В ответ Вы получите объект с подробной информацией о Вашем счёте. В параметре `transactions` будет объект, содержащий все транзакции Вашего аккаунта с постраничным выводом.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "description": "Остаток на балансе"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Текущая валюта"
                    },
                    "reserved": {
                      "type": "number",
                      "description": "Замороженная сумма"
                    },
                    "incoming": {
                      "type": "number",
                      "description": "Обороты по приходу"
                    },
                    "outgoing": {
                      "type": "number",
                      "description": "Обороты по расходу"
                    },
                    "paid": {
                      "type": "number",
                      "description": "Всего пополнено"
                    },
                    "used": {
                      "type": "number",
                      "description": "Всего израсходовано"
                    },
                    "transactions": {
                      "type": "object",
                      "required": [
                        "current_page",
                        "data",
                        "first_page_url",
                        "from",
                        "last_page",
                        "last_page_url",
                        "next_page_url",
                        "path",
                        "per_page",
                        "prev_page_url",
                        "to",
                        "total"
                      ],
                      "description": "Объект содержащий инфмормацию о транзакциях с постраничным выводом",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "description": "Текущая страница"
                        },
                        "data": {
                          "type": "array",
                          "description": "Содержимое страницы",
                          "items": {
                            "type": "object",
                            "description": "Транзакция",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "ID транзакции"
                              },
                              "type": {
                                "type": "string",
                                "description": "Тип транзакции. withdraw - расход, deposit - приход."
                              },
                              "confirmed": {
                                "type": "boolean",
                                "description": "Подтвержденность транзакции"
                              },
                              "meta": {
                                "type": "object",
                                "description": "Дополнительное поля транзакции",
                                "properties": {
                                  "description": {
                                    "type": "string",
                                    "description": "Описание транзакции"
                                  }
                                }
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "total": {
                                "type": "number",
                                "description": "Сумма транзакции"
                              }
                            }
                          }
                        },
                        "first_page_url": {
                          "type": "string",
                          "description": "URL адрес первой страницы"
                        },
                        "from": {
                          "type": "integer",
                          "description": "С какого элемента отображены данные на текущей странице"
                        },
                        "last_page": {
                          "type": "integer",
                          "description": "Какая страница является последней"
                        },
                        "last_page_url": {
                          "type": "string",
                          "description": "URL адрес последней страницы"
                        },
                        "next_page_url": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "URL адрес следующей страницы"
                        },
                        "path": {
                          "type": "string",
                          "description": ""
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Количество элементов на каждой странице"
                        },
                        "prev_page_url": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "URL адрес предыдущей страницы"
                        },
                        "to": {
                          "type": "integer",
                          "description": "До какого элемента отображены данные на текущей странице"
                        },
                        "total": {
                          "type": "integer",
                          "description": "Всего элементов"
                        }
                      }
                    }
                  },
                  "required": [
                    "balance",
                    "currency",
                    "reserved",
                    "incoming",
                    "outgoing",
                    "paid",
                    "used",
                    "transactions"
                  ]
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "balance": 14.13,
                      "currency": "₸",
                      "reserved": 408.83000000000004,
                      "incoming": 538.67,
                      "outgoing": 524.54,
                      "paid": 0,
                      "used": -14.13,
                      "transactions": {
                        "current_page": 1,
                        "data": [
                          {
                            "id": 35,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test url\""
                            },
                            "created_at": "2020-04-03 09:40:38",
                            "updated_at": "2020-04-03 09:40:38",
                            "total": -2.72
                          },
                          {
                            "id": 34,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test calculation\""
                            },
                            "created_at": "2020-03-30 07:33:39",
                            "updated_at": "2020-03-30 07:33:39",
                            "total": -33.49
                          },
                          {
                            "id": 33,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"Test calculate\""
                            },
                            "created_at": "2020-03-30 07:17:12",
                            "updated_at": "2020-03-30 07:17:12",
                            "total": -8
                          },
                          {
                            "id": 32,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"Test API recipients error\""
                            },
                            "created_at": "2020-03-30 06:34:31",
                            "updated_at": "2020-03-30 06:34:31",
                            "total": -16
                          },
                          {
                            "id": 31,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"Test API recipients error\""
                            },
                            "created_at": "2020-03-30 06:33:37",
                            "updated_at": "2020-03-30 06:33:37",
                            "total": -16
                          },
                          {
                            "id": 30,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"Test API recipients error\""
                            },
                            "created_at": "2020-03-30 06:31:48",
                            "updated_at": "2020-03-30 06:31:48",
                            "total": -8
                          },
                          {
                            "id": 29,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"Test calculate\""
                            },
                            "created_at": "2020-03-30 06:22:08",
                            "updated_at": "2020-03-30 06:22:08",
                            "total": -96
                          },
                          {
                            "id": 28,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test new sms\""
                            },
                            "created_at": "2020-03-27 17:12:59",
                            "updated_at": "2020-03-27 17:12:59",
                            "total": -25.36
                          },
                          {
                            "id": 27,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test calculation\""
                            },
                            "created_at": "2020-03-26 18:45:03",
                            "updated_at": "2020-03-26 18:45:03",
                            "total": -73.49
                          },
                          {
                            "id": 26,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test api autocalls\""
                            },
                            "created_at": "2020-03-26 04:35:24",
                            "updated_at": "2020-03-26 04:35:24",
                            "total": -5.44
                          },
                          {
                            "id": 25,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test calculation\""
                            },
                            "created_at": "2020-03-26 04:30:20",
                            "updated_at": "2020-03-26 04:30:20",
                            "total": -41.49
                          },
                          {
                            "id": 24,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Списание за синтез речи \"test name\""
                            },
                            "created_at": "2020-03-22 04:21:04",
                            "updated_at": "2020-03-22 04:21:04",
                            "total": -3
                          },
                          {
                            "id": 23,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Списание за синтез речи \"test name\""
                            },
                            "created_at": "2020-03-22 04:18:37",
                            "updated_at": "2020-03-22 04:18:37",
                            "total": -3
                          },
                          {
                            "id": 22,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test distinct\""
                            },
                            "created_at": "2020-03-17 15:30:45",
                            "updated_at": "2020-03-17 15:30:45",
                            "total": -5.44
                          },
                          {
                            "id": 21,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test extra\""
                            },
                            "created_at": "2020-03-17 14:40:46",
                            "updated_at": "2020-03-17 14:40:46",
                            "total": -25.85
                          },
                          {
                            "id": 20,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"tu\""
                            },
                            "created_at": "2020-03-16 00:16:38",
                            "updated_at": "2020-03-16 00:16:38",
                            "total": -1.36
                          },
                          {
                            "id": 18,
                            "type": "deposit",
                            "confirmed": true,
                            "meta": {
                              "description": "Возврат по результатам обзвона \"test record\""
                            },
                            "created_at": "2020-02-24 17:33:27",
                            "updated_at": "2020-02-24 17:33:27",
                            "total": 29.19
                          },
                          {
                            "id": 19,
                            "type": "deposit",
                            "confirmed": true,
                            "meta": {
                              "description": "Возврат по результатам обзвона \"test recrd\""
                            },
                            "created_at": "2020-02-24 17:33:27",
                            "updated_at": "2020-02-24 17:33:27",
                            "total": 27.15
                          },
                          {
                            "id": 17,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"test\""
                            },
                            "created_at": "2020-02-22 10:04:13",
                            "updated_at": "2020-02-22 10:04:13",
                            "total": -8
                          },
                          {
                            "id": 16,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test recrd\""
                            },
                            "created_at": "2020-02-21 17:13:25",
                            "updated_at": "2020-02-21 17:13:25",
                            "total": -29.19
                          },
                          {
                            "id": 15,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test record\""
                            },
                            "created_at": "2020-02-21 17:12:07",
                            "updated_at": "2020-02-21 17:12:07",
                            "total": -29.19
                          },
                          {
                            "id": 14,
                            "type": "deposit",
                            "confirmed": true,
                            "meta": {
                              "description": "Возврат по результатам обзвона \"Lifetime\""
                            },
                            "created_at": "2020-02-21 16:06:40",
                            "updated_at": "2020-02-21 16:06:40",
                            "total": 12.93
                          },
                          {
                            "id": 13,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"Test\""
                            },
                            "created_at": "2020-02-06 06:34:59",
                            "updated_at": "2020-02-06 06:34:59",
                            "total": -8
                          },
                          {
                            "id": 12,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"Test\""
                            },
                            "created_at": "2020-02-06 06:09:49",
                            "updated_at": "2020-02-06 06:09:49",
                            "total": -8
                          },
                          {
                            "id": 11,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test\""
                            },
                            "created_at": "2020-02-03 01:43:05",
                            "updated_at": "2020-02-03 01:43:05",
                            "total": -26.19
                          },
                          {
                            "id": 10,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Списание за синтез речи \"Test synthesis\""
                            },
                            "created_at": "2020-02-02 15:29:58",
                            "updated_at": "2020-02-02 15:29:58",
                            "total": -3
                          },
                          {
                            "id": 9,
                            "type": "deposit",
                            "confirmed": true,
                            "meta": {
                              "description": "Возврат по результатам обзвона \"Not lifetime\""
                            },
                            "created_at": "2020-01-12 23:38:33",
                            "updated_at": "2020-01-12 23:38:33",
                            "total": 6.47
                          },
                          {
                            "id": 8,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"Not lifetime\""
                            },
                            "created_at": "2020-01-12 23:28:17",
                            "updated_at": "2020-01-12 23:28:17",
                            "total": -6.47
                          },
                          {
                            "id": 7,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"Lifetime\""
                            },
                            "created_at": "2020-01-12 22:17:40",
                            "updated_at": "2020-01-12 22:17:40",
                            "total": -12.93
                          },
                          {
                            "id": 6,
                            "type": "deposit",
                            "confirmed": true,
                            "meta": {
                              "description": "Возврат по результатам обзвона \"test\""
                            },
                            "created_at": "2020-01-08 22:33:18",
                            "updated_at": "2020-01-08 22:33:18",
                            "total": 12.93
                          },
                          {
                            "id": 5,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для обзвона \"test\""
                            },
                            "created_at": "2020-01-08 22:23:49",
                            "updated_at": "2020-01-08 22:23:49",
                            "total": -12.93
                          },
                          {
                            "id": 4,
                            "type": "deposit",
                            "confirmed": true,
                            "meta": {
                              "description": "Новогодний подарок от AutoCall.kz!"
                            },
                            "created_at": "2019-12-31 12:07:54",
                            "updated_at": "2019-12-31 12:07:54",
                            "total": 400
                          },
                          {
                            "id": 2,
                            "type": "withdraw",
                            "confirmed": true,
                            "meta": {
                              "description": "Заморожено для смс рассылки \"test\""
                            },
                            "created_at": "2019-12-09 04:46:38",
                            "updated_at": "2019-12-09 04:46:38",
                            "total": -16
                          },
                          {
                            "id": 1,
                            "type": "deposit",
                            "confirmed": true,
                            "meta": {
                              "description": "Бонус за регистрацию на AutoCall.kz"
                            },
                            "created_at": "2019-12-08 23:46:06",
                            "updated_at": "2019-12-08 23:46:06",
                            "total": 50
                          }
                        ],
                        "first_page_url": "http://autocall.kz/api/v1/payments?page=1",
                        "from": 1,
                        "last_page": 1,
                        "last_page_url": "http://autocall.kz/api/v1/payments?page=1",
                        "next_page_url": null,
                        "path": "http://autocall.kz/api/v1/payments",
                        "per_page": 500,
                        "prev_page_url": null,
                        "to": 34,
                        "total": 34
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Данная ошибка возникает, если Вы не отправили API ключ в HEADER запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "operationId": "get-payments",
        "description": "С помощью этого запроса Вы получите полную информацию о движений Ваших средств.",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          },
          {
            "$ref": "#/components/parameters/6"
          }
        ],
        "tags": [
          "08 Платежи"
        ]
      },
      "post": {
        "summary": "3. Пополнить баланс",
        "operationId": "post-payments",
        "responses": {
          "201": {
            "description": "При успешном запросе Вы получите в ответ объект, внутри которого будет URL для проведения платежа.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "payment_url"
                  ]
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "payment_url": "https://3ds.kassanova.kz/payment/merchants/kassanova/payment.html?mdOrder=b5f7a05f-e398-7b8f-aff3-866f00a5c199&language=ru"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Вы не отправили API ключ в HEADER запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Ваш запрос не прошел валидацию на сервере.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "required": [
                        "amount"
                      ],
                      "properties": {
                        "amount": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "description": "На сервере или в платежном шлюзе произошла какая-то ошибка.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "payment": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "description": "С помощью этого запроса Вы получите URL, перейдя по которому Вы можете пополнить баланс с помощью карт VISA и MASTERCARD. Минимальная сумма пополнения 200 тенге.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer",
                    "example": 200,
                    "minimum": 200
                  }
                },
                "required": [
                  "amount"
                ]
              },
              "examples": {
                "Пример запроса": {
                  "value": {
                    "amount": 500
                  }
                }
              }
            }
          },
          "description": "В параметре `amount` отправьте сумму, которую Вы хотите пополнить."
        },
        "tags": [
          "08 Платежи"
        ]
      }
    },
    "/notifications": {
      "get": {
        "summary": "1. Получить уведомления",
        "responses": {
          "200": {
            "description": "При успешном запросе Вы получите ответ в виде объекта.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Массив с уведомлениями в виде объектов",
                      "items": {
                        "type": "object",
                        "description": "Уведомление",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID уведомления"
                          },
                          "type": {
                            "type": "string",
                            "description": "Тип уведомления. Могут быть: `SoundConfirmed`, `SoundCommented`, `SMSBulkConfirmed`, `SMSBulkCommented`, `SMSBulkFinished`, `ScenarioConfirmed`, `ScenarioCommented`, `AutocallConfirmed`, `AutocallCommented`, `AutocallFinished`, `ImportComplete`, `ImportFailure`, `NonexistentContactsDetected`, `ExportIsReady`, `ExportFailure`, `RefreshBalance`"
                          },
                          "data": {
                            "type": "object",
                            "description": "Содержимое уведомления в зависимости от типа",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "ID содержимого уведомления. Например если уведомление касается Обзвона, то здесь будет ID обзвона. Если уведомление касается платежей, то этого параметра не будет."
                              },
                              "type": {
                                "type": "string",
                                "description": "В уведомлениях с типом `ExportIsReady`и `ExportFailure` в этом параметре будет отображаться к какому элементу это относиться. Например к: `autocall` или `bulk`",
                                "enum": [
                                  "autocall",
                                  "bulk"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "action": {
                                "type": "string",
                                "description": "В уведомлениях касательно платежей здесь отображается тип платежа приход или расход: `withdraw` или `deposit`"
                              },
                              "amount": {
                                "type": "string",
                                "description": "В уведомлениях касательно платежей будет отображаться сумма."
                              }
                            }
                          },
                          "read_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Дата, когда уведомление было прочитано"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "read_at",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    },
                    "unread": {
                      "type": "integer",
                      "description": "Количество непрочитанных уведомлений"
                    }
                  },
                  "required": [
                    "data",
                    "unread"
                  ]
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "data": [
                        {
                          "id": "4f227359-cbc5-4b4d-811f-e8846abe6f35",
                          "type": "SMSBulkConfirmed",
                          "data": {
                            "id": 9,
                            "name": "Test calculate",
                            "created_at": "2020-04-09T00:16:47.000000Z",
                            "updated_at": "2020-04-09T00:16:47.000000Z"
                          },
                          "read_at": null,
                          "created_at": "2020-04-09 06:16:47",
                          "updated_at": "2020-04-09 06:16:47"
                        },
                        {
                          "id": "a19733f1-4354-4387-a1e9-e9b4a81fb1b8",
                          "type": "AutocallCommented",
                          "data": {
                            "id": 15,
                            "name": "test url",
                            "created_at": "2020-04-08T23:56:48.000000Z",
                            "updated_at": "2020-04-08T23:56:48.000000Z"
                          },
                          "read_at": null,
                          "created_at": "2020-04-09 05:56:48",
                          "updated_at": "2020-04-09 05:56:48"
                        },
                        {
                          "id": "a33deb68-2601-4fe4-96e5-27f462c32c78",
                          "type": "AutocallConfirmed",
                          "data": {
                            "id": 15,
                            "name": "test url",
                            "created_at": "2020-04-08T23:53:39.000000Z",
                            "updated_at": "2020-04-08T23:53:39.000000Z"
                          },
                          "read_at": null,
                          "created_at": "2020-04-09 05:53:39",
                          "updated_at": "2020-04-09 05:53:39"
                        },
                        {
                          "id": "2c2f0bac-3e80-4504-82e5-6b41d17cfbd3",
                          "type": "ExportIsReady",
                          "data": {
                            "type": "bulk",
                            "id": 3,
                            "name": "Test",
                            "created_at": "2020-03-17T12:42:04.000000Z",
                            "updated_at": "2020-03-17T12:42:22.000000Z"
                          },
                          "read_at": "2020-03-17 18:42:22",
                          "created_at": "2020-03-17 18:42:04",
                          "updated_at": "2020-03-17 18:42:22"
                        },
                        {
                          "id": "9b5f008c-0c45-44ce-b5bc-9a5785e56a7e",
                          "type": "ExportIsReady",
                          "data": {
                            "type": "bulk",
                            "id": 4,
                            "name": "test",
                            "created_at": "2020-03-17T12:41:39.000000Z",
                            "updated_at": "2020-03-17T12:42:22.000000Z"
                          },
                          "read_at": "2020-03-17 18:42:22",
                          "created_at": "2020-03-17 18:41:39",
                          "updated_at": "2020-03-17 18:42:22"
                        },
                        {
                          "id": "d1b9b295-d224-45de-9826-451bfe9f8da1",
                          "type": "ExportIsReady",
                          "data": {
                            "type": "autocall",
                            "id": 9,
                            "name": "test distinct",
                            "created_at": "2020-03-17T10:57:18.000000Z",
                            "updated_at": "2020-03-17T10:59:23.000000Z"
                          },
                          "read_at": "2020-03-17 16:59:23",
                          "created_at": "2020-03-17 16:57:18",
                          "updated_at": "2020-03-17 16:59:23"
                        },
                        {
                          "id": "e76c47f9-939f-4a6d-bd7c-c6315a60d310",
                          "type": "ExportIsReady",
                          "data": {
                            "type": "autocall",
                            "id": 1,
                            "name": "test",
                            "created_at": "2020-03-17T10:56:48.000000Z",
                            "updated_at": "2020-03-17T10:59:23.000000Z"
                          },
                          "read_at": "2020-03-17 16:59:23",
                          "created_at": "2020-03-17 16:56:48",
                          "updated_at": "2020-03-17 16:59:23"
                        }
                      ],
                      "unread": 3
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Вы не отправили API ключ в HEADER запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "operationId": "get-notifications",
        "description": "С помощью этого запроса Вы получите все уведомления для Вашего аккаунта.",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "tags": [
          "10 Уведомления"
        ]
      }
    },
    "/notifications/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID уведомления"
        }
      ],
      "put": {
        "summary": "2. Отметить уведомление прочитанным",
        "operationId": "put-notifications-id",
        "responses": {
          "200": {
            "description": "При успешном запросе в ответ будет дан объект с `ID` и `read_at` уведомления.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "read_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "read_at"
                  ]
                },
                "examples": {
                  "Пример ответа": {
                    "value": {
                      "id": "2c2f0bac-3e80-4504-82e5-6b41d17cfbd3",
                      "read_at": "2020-03-17 18:42:22"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Вы не указали API ключ в Header запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "По Вашему `ID` не удалось обнаружить уведомление.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "description": "С помощью этого запроса Вы можете ответить уведомление как прочитанное.",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "tags": [
          "10 Уведомления"
        ]
      },
      "delete": {
        "summary": "3. Удалить уведомление",
        "operationId": "delete-notifications-id",
        "responses": {
          "204": {
            "description": "При удалении уведомления Вы получите код 204 без какого-либо содержания."
          },
          "401": {
            "description": "Данная ошибка возникает если Вы не указали API ключ в HEADER запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Данная ошибка возникает если по Вашему ID не удалось обнаружить это уведомление.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "description": "Данная ошибка возникает очень редко, только в случае если на сервере имеются какие-то проблемы.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "С помощью этого запроса Вы можете удалить ненужное Вам уведомление.",
        "parameters": [
          {
            "$ref": "#/components/parameters/0"
          },
          {
            "$ref": "#/components/parameters/1"
          }
        ],
        "tags": [
          "10 Уведомления"
        ]
      }
    },
    "/lists": {
      "get": {
        "summary": "1. Получить все списки контактов",
        "responses": {
          "200": {
            "description": "Сервер вернёт объект со списками контактов с постраничным выводом.",
            "content": {
[...]
