openapi: 3.1.0

info:
  title: AutoCall.kz API
  version: "1.0"
  description: |
    REST API сервиса автообзвона AutoCall.kz.

    ## Публичный API
    Эндпоинты `/api/public/*` доступны без аутентификации — тарифы и тестовый звонок.

    ## API v1 (авторизованный)
    Все эндпоинты `/api/v1/*` требуют заголовок:
    ```
    Authorization: Bearer ВАШ_API_КЛЮЧ
    ```
    API-ключи создаются в разделе **API** личного кабинета autocall.kz. Ключей может быть
    несколько — например, отдельный для каждого проекта. Каждому ключу можно ограничить права
    (какие методы API ему доступны) и список IP-адресов, с которых он принимается.

    ## Лимиты
    Ограничений два, и они независимы — сработает то, до которого дойдёте раньше.

    | Уровень | Лимит | На что считается |
    |---------|-------|------------------|
    | Приложение | **300 запросов в минуту** | на ваш API-ключ |
    | Сервер | **15 запросов в секунду**, всплеск до 30 | на IP-адрес |

    Оба отвечают статусом `429`. Лимит приложения возвращает JSON с полем `message`;
    серверный отдаёт короткую HTML-страницу — на него не стоит рассчитывать как на
    предсказуемый ответ, это защита от флуда.

    Отдельно ограничено число **одновременных** соединений с одного адреса — 20.

    ### Как не упираться

    - Держите не больше 10–15 запросов в секунду и делайте паузу при `429`,
      желательно с экспоненциальной выдержкой.
    - Не открывайте десятки параллельных соединений: последовательные запросы в
      2–3 потока быстрее, чем 20 потоков, половина которых получает `429`.
    - Систематическое превышение серверного лимита может привести к временной
      блокировке адреса. Если ваша интеграция требует большего — напишите в
      поддержку, лимит поднимут точечно.

    Для увеличения лимита приложения обратитесь в поддержку.

    ## Вебхуки (`callback_url`)

    Адрес приёмника задаётся двумя способами:

    - **Глобально** — в личном кабинете, **Настройки → API**, поле «Адрес для вебхуков».
      Применяется ко всем обзвонам, рассылкам и Flash Call аккаунта, включая созданные вручную
      в кабинете.
      Принимается только `https`.
    - **Для конкретного обзвона, рассылки или Flash Call** — поле `callback_url` в теле
      запроса на создание. Оно **перебивает** глобальный адрес: события по этому объекту уйдут только
      на него.

    Если не задано ни то, ни другое — вебхуки не отправляются.

    Мы шлём `POST` с `Content-Type: application/json` по мере изменения объектов:
    `{"call": {...}}` — про звонок, `{"autocall": {...}}` — про обзвон,
    `{"message": {...}}` / `{"bulk": {...}}` — про SMS, `{"flash_call": {...}}` — про Flash Call.

    Что важно учесть при интеграции:

    - **События звонка схлопываются.** Звонок меняется по ходу жизни несколько раз
      (постановка в набор, результат попытки, финализация, распознавание речи,
      расшифровка разговора агента), но отдельный запрос на каждое изменение мы НЕ шлём.
      После каждого изменения запускается пауза в 30 секунд; новое изменение сбрасывает
      её заново. Как только звонок 30 секунд не менялся, уходит один `POST` с его
      состоянием на этот момент.

      Поэтому изменения, идущие подряд, склеиваются в один запрос, а разнесённые во
      времени — нет. Разговор длиннее 30 секунд даст два запроса: сначала о том, что
      звонок начался (`status: calling`), потом о результате. Это ожидаемое поведение,
      а не сбой.
    - **Следствие: данные приходят с задержкой** примерно в полминуты после последнего
      изменения — и уже полными. В частности, у агент-звонков расшифровка разговора
      (`data._transcript`) на этот момент записана и обработана; раньше она могла не
      успеть.
    - **Один объект всё равно может прийти несколько раз.** Схлопываются изменения
      ВНУТРИ одной паузы; между попытками дозвона проходят минуты, поэтому на каждую
      попытку придёт свой запрос. Обрабатывайте вебхуки идемпотентно — по `call.id` /
      `autocall.id`, а не «по факту получения».
    - **События SMS-сообщений схлопываются так же** и по тому же правилу: склеивается
      то, что уложилось в одну паузу. Статус доставки от оператора приходит минутами позже
      отправки, то есть заведомо за пределами паузы: это отдельный запрос, и так и
      задумано — новая информация, а не уточнение прежней.
    - **Flash Call — ровно один запрос** на каждый flash: с окончательным статусом
      (`delivered`, `failed` или `expired`), обычно через 15–30 секунд после `POST`.
      Промежуточные `queued`/`dialing` не отправляются. Формат — как у
      `GET /flash-calls/{id}`.
    - **События обзвона и рассылки не схлопываются.** Переходы `moderation → awaiting →
      running → completed` приходят отдельными запросами: это разные по смыслу
      состояния, разнесённые во времени.
    - **Порядок доставки не гарантирован.** События звонков и события обзвона идут
      независимо, поэтому `autocall.status = completed` может прийти раньше последнего
      события звонка. Ориентируйтесь на содержимое, а не на очерёдность.
    - **Объём.** Обзвон на N номеров с одной попыткой даёт от `4 + N` до `4 + 2 × N`
      запросов: четыре по обзвону и один-два на номер — в зависимости от того, длиннее
      разговор паузы схлопывания или короче. Против прежних `4 + 4 × N` это вдвое-вчетверо
      меньше.
    - **Повторов нет.** Ответ мы не проверяем и при ошибке не повторяем, но соединение
      держим до 10 секунд. Медленный приёмник вредит прежде всего вам: часть событий
      просто не доедет. Отвечайте `200` сразу и обрабатывайте асинхронно.
    - **Редиректы не поддерживаются.** `301`/`302` не выполняются — указывайте сразу
      конечный URL (в частности, `https://`, а не `http://` с редиректом).
    - **Только публичные IPv4-адреса.** Приватные диапазоны и IPv6-only хосты
      недоступны.

    ## Форматы дат
    - Дата: `Y-m-d` (например: `2024-03-15`)
    - Время: `H:i:s` (например: `13:00:00`)
    - Дата + время: `Y-m-d H:i:s`
  contact:
    name: Поддержка AutoCall.kz
    email: info@autocall.kz
    url: https://autocall.kz

servers:
  - url: https://autocall.kz/api/v1
    description: API v1 (требует Bearer токен)

security:
  - bearerAuth: []

tags:
  - name: OTP — коды подтверждения
    description: |
      Три способа доставить одноразовый код: SMS, голосовой звонок и Flash Call.

      Отдельных эндпоинтов у OTP нет — он собирается из уже существующих. Догадаться об этом,
      не зная нашей модели данных, невозможно, поэтому здесь собрано всё, что нужно для
      интеграции: SMS-код — это рассылка на один номер, голосовой код — обзвон одного контакта
      с синтезом речи на лету, Flash Call — звонок, который сбрасывается, и кодом служит хвост
      номера звонящего.

      ## 1. SMS OTP

      `POST /bulks` — рассылка на один номер.

      ```json
      {
        "name": "OTP",
        "text": "Код подтверждения: 2134",
        "list_id": [{ "number": "+77011234567" }]
      }
      ```

      - `name` — до 40 символов, служебное имя рассылки, абоненту НЕ отправляется;
      - `text` — до 1600 символов; тарифицируется посегментно (70 символов кириллицей на сегмент);
      - `list_id` — получатели; для OTP это всегда один номер.

      Статус доставки: `GET /bulks/{id}`.

      ## 2. Voice OTP (голосовой код)

      > ⚠️ **Прекращается с 1 ноября 2026 года.** Согласно п. 3-1 ст. 21 Закона РК «О связи»
      > (в редакции Закона от 19.06.2026 № 320-VIII) с 20 августа 2026 года операторам связи запрещено
      > пропускать автоматические вызовы для передачи кодов идентификации и аутентификации, в том числе
      > прерывающиеся до или после первого гудка. Переведите подтверждение номера на SMS.

      `POST /autocalls` — обзвон одного контакта с синтезом речи.

      ```json
      {
        "name": "Код подтверждения",
        "type": "regular",
        "time_from": "00:00:00",
        "time_to": "23:59:59",
        "audio_id": [{
          "type": "synthesis",
          "data": { "text": "Ваш код подтверждения: 2 1 3 4.", "voice": "Sulafat" }
        }],
        "list_id": [{ "number": "+77011234567" }]
      }
      ```

      ⚠️ **`time_from` и `time_to` обязаны покрывать текущий момент.** Иначе обзвон уйдёт в
      статус `awaiting` и код будет озвучен, когда наступит указанное окно, — то есть завтра.
      Для кодов подтверждения это всегда полные сутки, как в примере.

      💡 **Пишите цифры кода через пробел** (`2 1 3 4`), иначе синтез произнесёт «две тысячи
      сто тридцать четыре».

      Результат звонка: `GET /autocalls/{id}`.

      ## 3. Flash Call OTP

      > ⚠️ **Прекращается с 1 ноября 2026 года.** Согласно п. 3-1 ст. 21 Закона РК «О связи»
      > (в редакции Закона от 19.06.2026 № 320-VIII) с 20 августа 2026 года операторам связи запрещено
      > пропускать автоматические вызовы для передачи кодов идентификации и аутентификации, в том числе
      > прерывающиеся до или после первого гудка. Переведите подтверждение номера на SMS.

      `POST /flash-calls` — звонок, который сбрасывается автоматически. Кодом служат последние
      N цифр номера, с которого пришёл звонок. Для абонента звонок бесплатный.

      ```json
      { "number": "+77011234567", "digits": 4 }
      ```

      - `digits` (3–6) — код генерируем мы. Работает всегда, рекомендуемый режим;
      - `code` — ваш конкретный код; ответ `422`, если свободного номера с таким окончанием
        сейчас нет.

      Ограничение: не более 3 запросов на один номер за 5 минут, дальше `429`.

      Дошёл ли звонок — `GET /flash-calls/{id}` или вебхук с `{"flash_call": {...}}`: `delivered`
      (звонок дошёл до телефона — даже если его сбросили или было занято), `failed` (сеть не
      дотянулась до абонента) или `expired` (не успели набрать за 2 минуты). При `failed` и
      `expired` сразу отправляйте код другим способом, например SMS.

      ## ⚠️ Первый код уходит на проверку

      Это главная причина обращений «ваш API не работает».

      У нового аккаунта первая SMS-рассылка и первый голосовой обзвон попадают на модерацию и
      ждут человека — обычно в пределах рабочего дня. После того как формулировку одобрили,
      коды с тем же текстом отправляются **мгновенно и без проверки**: сам код в шаблоне
      подменяется на «любые 4–6 цифр», поэтому каждый новый код под одобрение уже подходит.

      Отсюда практическое правило: **не меняйте формулировку без нужды** — новый текст
      возвращает проверку. Flash Call модерации не знает вообще, текста в нём нет.

      ## ⚠️ Бренды в тексте

      Упоминание стороннего бренда в SMS проверку не проходит — это требование операторов, а не
      наше. «Код подтверждения: 2134» проходит всегда.

      ## Что выбрать

      | | Скорость | Цена | Когда брать |
      |---|---|---|---|
      | SMS | секунды | дешёвая | по умолчанию |
      | Голос | ~30 секунд | дороже SMS | когда SMS не доходят или нужен звонок |
      | Flash Call | секунды | дешевле SMS | массовая верификация, код не нужно читать вслух |

  - name: Публичный API
    description: Эндпоинты без аутентификации — тарифы и тестовый звонок.
  - name: Списки контактов
    description: Создание и управление списками контактов для обзвонов и рассылок.
  - name: Контакты
    description: Просмотр и удаление отдельных контактов внутри списков.
  - name: Аудиозаписи
    description: Загрузка аудиофайлов и синтез речи для использования в обзвонах.
  - name: Сценарии
    description: |
      Интерактивные сценарии для обзвонов с распознаванием речи, нажатием клавиш и ветвлением логики.

      ## Поле `data` — это JSON, сериализованный в СТРОКУ

      Сценарий передаётся не объектом, а **строкой** с закодированным JSON:
      `json_encode()` в PHP, `JSON.stringify()` в JS, `json.dumps()` в Python.
      Если прислать объект — придёт `422` с текстом
      «Значение поля data должно быть закодированной json строкой».

      ```php
      $scenario = [ /* граф, см. ниже */ ];
      $body = ['name' => 'Опрос', 'data' => json_encode($scenario, JSON_UNESCAPED_UNICODE)];
      ```

      В ответах (`GET /scenarios/{id}`) поле `data` приходит уже **объектом**, а не строкой —
      перед отправкой обратно в `PUT` его нужно снова сериализовать.

      ## Структура графа

      `data` — объект, где **ключ = id элемента**, значение = сам элемент. Массив не подойдёт.
      Переходы между элементами — по id.

      Обязательный скелет любого сценария:

      - ровно один элемент `start` — точка входа, его `next` ведёт в «ждём речи»;
      - ровно один `talk_detect` — «ждём, пока абонент возьмёт трубку и скажет „алло“».
        Он обязан лежать под ключом **`TALK_DETECT`**: этот id зашит в генераторе дайлплана;
      - минимум один `end` с `next: null` — в него в итоге должны приходить все ветки,
        иначе часть сценария окажется недостижимой.

      Id остальных элементов придумываете вы: **латиница, цифры, `_`, `.` и `-`, до 64 символов**
      (id становится именем экстеншена в дайлплане, поэтому набор символов ограничен). Удобнее
      всего uuid (`a1b2c3d4`), но подойдут и осмысленные — `greeting`, `menu`. Для `start` и `end`
      принято брать `START` и `END`. Поле `id` внутри элемента обязано совпадать с его ключом.

      ## Общие поля элемента

      | Поле   | Тип             | Описание |
      |--------|-----------------|----------|
      | `id`   | string          | Совпадает с ключом в объекте `data`. |
      | `type` | string          | Тип элемента (таблица ниже). |
      | `name` | string          | Название — видно в отчётах и на схеме сценария. У системных `start`/`talk_detect`/`end` можно не задавать. |
      | `next` | string \| null  | id следующего элемента. Только у линейных типов; у ветвящихся переходы лежат внутри `data`. |

      Граф собирается по переходам (`next` и ветки внутри `data`), обратные рёбра считать не нужно.
      Каждый элемент должен быть достижим из `start` — иначе 422. Поле `prev`, которое требовали
      старые версии API, теперь необязательно: если вы его присылаете, оно просто игнорируется.

      ## Типы элементов и их `data`

      **`playback` — проиграть аудиозапись.** `data` = id аудиозаписи (число/строка, ваша запись
      из `GET /sounds`), плюс `next`.
      ```json
      { "id": "greet", "type": "playback", "name": "Приветствие", "next": "menu", "data": 427760 }
      ```

      **`record` — записать речь абонента.** `data.duration` — сколько писать, 5–60 с;
      `data.silence` — пауза, после которой запись обрывается, 2–5 с. Плюс `next`.
      Запись потом слушается в детализации обзвона.
      ```json
      { "id": "rec", "type": "record", "name": "Ответ", "next": "END",
        "data": { "duration": 20, "silence": 3 } }
      ```

      **`dtmf` — проиграть аудио и ждать нажатия клавиши.** `data.id` — id аудиозаписи с вопросом;
      `data.directions[]` — ветки, где `keywords` = ровно одна цифра `0`–`9`;
      `data.timeout` — `{duration, next}`, куда идти, если абонент молчит (`duration` 5–20 с);
      `data.else.next` — куда идти при нажатии, которого нет в ветках;
      `data.reask.enabled` — переспрос (`false`, если не нужен).

      **`speech` — проиграть аудио и распознать РЕЧЬ.** Поля те же, что у `dtmf`, но
      `keywords` — список ожидаемых слов через запятую (буквы, пробелы, запятые), а `timeout.duration`
      берите 1–10 с. Дополнительно `data.question` — сам вопрос текстом: если ответ абонента не совпал
      ни с одним списком слов, вопрос и ответ уходят ИИ-классификатору, и он выбирает ветку сам.
      Заполняйте `question` — это заметно поднимает точность.
      ```json
      { "id": "ask", "type": "speech", "name": "Интересно?", "data": {
          "id": 427759,
          "question": "Интересно ли вам предложение?",
          "directions": [
            { "keywords": "да,конечно,интересно,давайте", "next": "sms1" },
            { "keywords": "нет,не надо,не интересно,отказ", "next": "END" }
          ],
          "timeout": { "duration": 7, "next": "END" },
          "else": { "next": "END" },
          "reask": { "enabled": false }
        } }
      ```
      Каждый `speech` тарифицируется отдельно (см. цену распознавания в тарифах).

      **`dial` — соединить абонента с вашим номером.** `data.number` — **id** подтверждённого номера
      (не сам номер, список — в `GET /settings/confirmed_numbers`); `data.duration` — лимит
      разговора 60–600 с;
      `data.timeout.next` — ⚠️ куда идти, если **дозвонились** (историческое название поля, не таймаут);
      `data.else.next` — если дозвониться не удалось.

      **`sms` — SMS абоненту.** `data.message` — текст, плюс `next`. Поддерживаются
      `{{переменные}}` контакта. Длина не ограничена одним сообщением: длинный текст уйдёт
      несколькими частями и так же посчитается в стоимости (70 символов кириллицей на часть,
      160 латиницей). Номер указывать не нужно — SMS всегда уходит абоненту, которому звоним.

      **`sms_me` — SMS себе.** То же самое, но `data.number` — id вашего подтверждённого номера,
      и он используется по-настоящему. К тексту автоматически добавляется номер абонента.

      **`request` — HTTP-запрос на ваш сервер.** `data.url` (обязателен, `http://` или `https://`),
      `data.method` (по умолчанию `POST`), `data.headers` — массив `{key, value}`,
      `data.bodyType` — `none` \| `json` \| `form`, `data.body` — тело для `json`,
      `data.params` — массив `{key, value}` для `form`, `data.save_var` — имя переменной
      (латиница, цифры, `_`), куда положить ответ, чтобы использовать его дальше как `{{имя}}`.
      В URL, заголовках и теле работают `{{переменные}}`.
      ```json
      { "id": "hook", "type": "request", "name": "Отдать лид в CRM", "next": "END",
        "data": { "url": "https://example.kz/api/lead", "method": "POST", "headers": [],
                  "bodyType": "json", "body": "{\"phone\":\"{{phone}}\",\"name\":\"{{name}}\"}" } }
      ```
      Запросы на приватные адреса (`10.0.0.0/8`, `127.0.0.1`, метаданные облаков) блокируются.

      ## Элементы с переменными

      Эти пять типов появились вместе с новым конструктором и работают через API наравне
      с остальными. Имена переменных — латиница, цифры и `_`; в текстах, URL и телах запросов
      они подставляются как `{{имя}}` вперемешку с переменными контакта.

      **`say` — озвучить текст (TTS).** `data.text` — что сказать, плюс `next`. Удобно, когда
      фраза зависит от данных: `«Здравствуйте, {{name}}, ваш заказ {{order}} готов»`.
      Тарифицируется по цене синтеза.

      **`stt_var` — записать ответ абонента в переменную.** `data.duration` 5–60 с,
      `data.silence` 2–5 с, `data.variable` — имя переменной, плюс `next`. В отличие от `speech`
      никакого ветвления не делает: просто кладёт распознанный текст в переменную.

      **`setvar` — задать переменную.** `data.variable`, `data.value` (до 255 символов), плюс `next`.

      **`ifelse` — условие.** `data.conditions` — массив `{variable, operator, value}`;
      `data.logic` — `AND` (по умолчанию) или `OR`, если условий несколько;
      `data.then.next` — куда идти, если условие выполнено, `data.else.next` — если нет.

      **`switchvar` — мультиветка по значению переменной.** `data.variable`, `data.operator`,
      `data.cases` — массив `{value, next}` (перебираются сверху вниз, побеждает первый
      подошедший), `data.else.next` — если ни один кейс не подошёл.

      Операторы сравнения: `===`, `!==`, `contains` (подстрока, без учёта регистра),
      `>`, `<`, `>=`, `<=` (числа сравниваются как числа, остальное — как строки).

      ```json
      {
        "ask":   { "id": "ask", "type": "stt_var", "name": "Спросить город", "next": "check",
                   "data": { "duration": 15, "silence": 3, "variable": "city" } },
        "check": { "id": "check", "type": "ifelse", "name": "Это Астана?",
                   "data": { "conditions": [ { "variable": "city", "operator": "contains", "value": "астана" } ],
                             "logic": "AND", "then": { "next": "greet" }, "else": { "next": "END" } } }
      }
      ```

      ## Пример 1 — минимальный: поздоровались и положили трубку

      ```json
      {
        "START":       { "id": "START", "type": "start", "name": "Начало", "next": "TALK_DETECT" },
        "TALK_DETECT": { "id": "TALK_DETECT", "type": "talk_detect", "name": "Ждём речи", "next": "greet" },
        "greet":       { "id": "greet", "type": "playback", "name": "Приветствие", "next": "END", "data": 427760 },
        "END":         { "id": "END", "type": "end", "name": "Конец", "next": null }
      }
      ```

      ## Пример 2 — распознавание речи: согласным шлём SMS

      ```json
      {
        "START":       { "id": "START", "type": "start", "name": "Начало", "next": "TALK_DETECT" },
        "TALK_DETECT": { "id": "TALK_DETECT", "type": "talk_detect", "name": "Ждём речи", "next": "greet" },
        "greet":       { "id": "greet", "type": "playback", "name": "Приветствие", "next": "ask", "data": 427760 },
        "ask": {
          "id": "ask", "type": "speech", "name": "Интересно предложение?", "data": {
            "id": 427759,
            "question": "Интересно ли вам наше предложение?",
            "directions": [
              { "keywords": "да,конечно,интересно,давайте,расскажите", "next": "sms1" },
              { "keywords": "нет,не надо,не интересно,некогда", "next": "END" }
            ],
            "timeout": { "duration": 7, "next": "END" },
            "else":    { "next": "END" },
            "reask":   { "enabled": false }
          }
        },
        "sms1": {
          "id": "sms1", "type": "sms", "name": "Подробности в SMS", "next": "END",
          "data": { "message": "Спасибо! Подробности: example.kz" }
        },
        "END": { "id": "END", "type": "end", "name": "Конец", "next": null }
      }
      ```
      В `END` тут приходят сразу четыре перехода: ветка «нет», таймаут и «иначе» у `ask` плюс
      `sms1`. Перечислять их где-то отдельно не нужно — граф строится по самим переходам.

      ## Пример 3 — DTMF-меню с переводом на менеджера

      ```json
      {
        "START":       { "id": "START", "type": "start", "name": "Начало", "next": "TALK_DETECT" },
        "TALK_DETECT": { "id": "TALK_DETECT", "type": "talk_detect", "name": "Ждём речи", "next": "menu" },
        "menu": {
          "id": "menu", "type": "dtmf", "name": "Меню", "data": {
            "id": 427759,
            "directions": [
              { "keywords": "1", "next": "call_manager" },
              { "keywords": "2", "next": "notify" }
            ],
            "timeout": { "duration": 10, "next": "END" },
            "else":    { "next": "END" },
            "reask":   { "enabled": false }
          }
        },
        "call_manager": {
          "id": "call_manager", "type": "dial", "name": "Соединить с менеджером", "data": { "number": 4321, "duration": 300, "timeout": { "next": "END" }, "else": { "next": "notify" } }
        },
        "notify": {
          "id": "notify", "type": "sms_me", "name": "Сообщить мне", "next": "END",
          "data": { "message": "Абонент просит перезвонить", "number": 4321 }
        },
        "END": { "id": "END", "type": "end", "name": "Конец", "next": null }
      }
      ```
      `427759`/`427760` — id ваших аудиозаписей (`GET /sounds`), `4321` — id подтверждённого номера
      (`GET /settings/confirmed_numbers`). Подставьте свои: чужие id вернут 422.

      ## Частые ошибки 422

      | Сообщение | Причина |
      |-----------|---------|
      | Значение поля data должно быть закодированной json строкой | Прислали объект вместо строки либо список вместо объекта «id → элемент». |
      | Элемент «…» имеет неверную структуру (нет type) | У элемента нет поля `type` либо вместо объекта лежит строка/число. |
      | Недопустимый тип элемента у «…» | Опечатка в `type`. |
      | Недопустимый id элемента «…» | В id есть что-то кроме латиницы, цифр, `_`, `.`, `-` либо он длиннее 64 символов. |
      | У элемента «…» поле id не совпадает с его ключом | `"a1": { "id": "a2", … }` — так нельзя. |
      | В сценарии должен быть ровно один элемент «Начало звонка» / «Ждём речи» | Нет `start`/`talk_detect` или их несколько. |
      | Элемент «Ждём речи» должен лежать под ключом TALK_DETECT | `talk_detect` положили под своим id. |
      | После «Начало звонка» должно идти «Ждём речи» | `start.next` ведёт не в `talk_detect`. |
      | В сценарии должен быть хотя бы один элемент «Положить трубку» | Нет ни одного `end`. |
      | У элемента «…» есть переход на несуществующий элемент | `next` (или `next` внутри ветки) ссылается на id, которого нет в объекте. |
      | Элемент «…» недостижим (в него не ведёт ни одна стрелка) | В элемент нет входа из `start` — забыли его подключить. |
      | Элемент «…» должен куда-то вести | Пустой `next` у линейного элемента. |
      | У «…» не указана аудиозапись / Аудиозапись у «…» вам не принадлежит | Нет `data.id` (или `data` у `playback`) либо id чужой записи. |
      | У «…» добавьте хотя бы одну ветку / ветка никуда не ведёт | Пустой `directions[]` или ветка без `next`. |
      | У «…» не задан переход по таймауту / «иначе» | Нет `data.timeout.next` или `data.else.next`. |
      | У «…» таймаут должен быть …–… секунд | `timeout.duration` вне диапазона: `dtmf` 5–20, `speech` 1–10. |
      | У «…» некорректный URL | В `request` не `http(s)://…`. |
      | У «…» имя переменной: только латиница, цифры и _ | Кириллица или пробел в `variable`/`save_var`. |

      Стоимость сценария (`max_cost`) считается сервером сам — как самая дорогая цепочка по графу,
      и возвращается в ответе.
  - name: ИИ-агенты
    description: |
      Голосовые ИИ-агенты: живой разговор с абонентом вместо жёсткого сценария.

      Агент сам ведёт диалог, отвечает на вопросы, извлекает из разговора нужные вам поля
      (`data_schema`) и может по ходу разговора отправить SMS или сходить HTTP-запросом
      на ваш сервер (`tools`).

      **Жизненный цикл:**
      1. `POST /agents` — агент создаётся со статусом `generating`;
      2. фоновый профилировщик считает его параметры (это секунды, реже — минуты);
      3. статус становится `ready` — только с ним агента можно поставить в обзвон;
      4. `POST /autocalls` с `type=agent` и `agent_id`.

      **Правка агента** (`PUT /agents/{id}`) с новым `prompt` или `max_seconds` снова переводит
      его в `generating`. Уже запущенные обзвоны это не затрагивает — они звонят по слепку,
      снятому в момент создания обзвона.
  - name: Обзвоны
    description: Создание и управление автоматическими обзвонами.
  - name: SMS рассылки
    description: Создание и управление SMS рассылками.
  - name: Настройки
    description: Управление настройками аккаунта, номерами и визитной карточкой.
  - name: Платежи
    description: Управление балансом и просмотр транзакций.
  - name: Панель мониторинга
    description: Сводная статистика и активность аккаунта.
  - name: Уведомления
    description: Получение и управление уведомлениями аккаунта.
  - name: Flash Calls
    description: |
      Верификация пользователей через звонок (Flash Call / Missed Call OTP).

      Сервис совершает звонок на номер абонента. Последние N цифр номера звонящего и являются кодом подтверждения.
      Звонок сбрасывается автоматически — биллинг на стороне абонента не возникает.

      **Два режима:**
      - **Авто-код** (`digits`) — сервис сам генерирует случайный код из N цифр. Работает всегда.
      - **Свой код** (`code`) — вы передаёте нужный код. Может вернуть 422 если нужного номера нет в пуле.

      **Rate limit:** не более 3 попыток на один номер в течение 5 минут.

paths:

  # ─────────────────────────────────────────
  # ПУБЛИЧНЫЙ API (без авторизации)
  # ─────────────────────────────────────────

  /lists:
    get:
      summary: Получить все списки контактов
      operationId: get-lists
      tags: [Списки контактов]
      description: Возвращает все списки контактов с постраничным выводом. Поддерживает фильтрацию по дате и client_id.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Объект постраничного вывода со списками контактов.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ContactList'
              example:
                current_page: 1
                data:
                  - id: 73
                    client_id: "123e4567-e89b-12d3-a456-426655440000"
                    name: "Клиенты март"
                    importing: false
                    nonexistent: null
                    created_at: "2024-03-31 05:55:19"
                    updated_at: "2024-03-31 05:55:19"
                    contacts_count: 250
                    used: 3
                first_page_url: "https://autocall.kz/api/v1/lists?page=1"
                from: 1
                last_page: 2
                last_page_url: "https://autocall.kz/api/v1/lists?page=2"
                next_page_url: "https://autocall.kz/api/v1/lists?page=2"
                path: "https://autocall.kz/api/v1/lists"
                per_page: 23
                prev_page_url: null
                to: 23
                total: 27
        '401': { $ref: '#/components/responses/401' }
        '404':
          description: Список не найден по указанному `client_id`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorMessage' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }

    post:
      summary: Создать новый список контактов
      operationId: post-lists
      tags: [Списки контактов]
      description: |
        Создаёт новый список контактов. Максимум 10 000 номеров в одном запросе.
        Для загрузки большего количества — создайте список с первыми 10 000 контактами, затем дополните через `/lists/append/{id}`.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Параметры нового списка контактов.
        content:
          application/json:
            schema:
              type: object
              required: [name, numbers]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Название списка
                numbers:
                  type: array
                  maxItems: 10000
                  description: Массив с номерами телефонов
                  items:
                    type: object
                    required: [number]
                    properties:
                      number:
                        type: string
                        minLength: 12
                        maxLength: 12
                        pattern: '^\+7(700|701|702|705|707|708|747|771|775|776|777|778|710|711|712|713|714|715|716|717|718|721|722|723|724|725|726|727|728|729|736)\d{7}$'
                        description: Номер телефона в формате +7XXXXXXXXXX
                      extra:
                        type: string
                        maxLength: 255
                        description: Дополнительное описание (ФИО, ИИН и т.п.)
                      variables:
                        type: object
                        description: |
                          Переменные для персонализации SMS. Используются в тексте рассылки через `{{varname}}`.
                          Ключи — только `[a-zA-Z0-9_]`, до 30 символов. Значения — строки до 255 символов.
                        additionalProperties: { type: string }
                        example: { name: "Иванов Иван", debt: "15000" }
                client_id:
                  type: string
                  maxLength: 256
                  description: ID в Вашей системе
            examples:
              Простой список:
                value:
                  name: "Клиенты апрель"
                  numbers:
                    - number: "+77010000001"
                    - number: "+77010000002"
              С описанием и client_id:
                value:
                  name: "VIP клиенты"
                  client_id: "vip-2024"
                  numbers:
                    - number: "+77010000001"
                      extra: "Иванов И.И."
                    - number: "+77010000002"
                      extra: "Петров П.П."
              С переменными:
                value:
                  name: "Должники май"
                  numbers:
                    - number: "+77010000001"
                      extra: "Иванов Иван"
                      variables:
                        name: "Иван"
                        debt: "15000"
                        contract: "№А-123"
                    - number: "+77010000002"
                      extra: "Петров Пётр"
                      variables:
                        name: "Пётр"
                        debt: "3200"
                        contract: "№Б-456"
      responses:
        '201':
          description: Список успешно создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
              example:
                id: 74
                name: "Клиенты апрель"
                client_id: "vip-2024"
                contacts_count: 2
                created_at: "2024-04-11 22:14:09"
                updated_at: "2024-04-11 22:14:09"
        '401': { $ref: '#/components/responses/401' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  /lists/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID списка
    get:
      summary: Показать список
      operationId: get-lists-id
      tags: [Списки контактов]
      description: Возвращает детальную информацию о списке с контактами (постраничный вывод).
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Объект списка с контактами.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ContactList'
                  - type: object
                    properties:
                      contacts:
                        allOf:
                          - $ref: '#/components/schemas/Pagination'
                          - type: object
                            properties:
                              data:
                                type: array
                                items:
                                  $ref: '#/components/schemas/Contact'
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }
    put:
      summary: Редактировать список
      operationId: put-lists-id
      tags: [Списки контактов]
      description: Изменяет название или client_id списка контактов.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 40
                client_id:
                  type: string
                  maxLength: 256
      responses:
        '200':
          description: Обновлённый объект списка.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContactList' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }
    delete:
      summary: Удалить список
      operationId: delete-lists-id
      tags: [Списки контактов]
      description: Удаляет список контактов и все контакты в нём.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Список удалён.
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  /lists/append/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID списка, который нужно дополнить
    post:
      summary: Дополнить список контактов
      operationId: post-lists-append-id
      tags: [Списки контактов]
      description: Добавляет номера в уже существующий список контактов.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [numbers]
              properties:
                numbers:
                  type: array
                  maxItems: 10000
                  items:
                    type: object
                    required: [number]
                    properties:
                      number:
                        type: string
                        minLength: 12
                        maxLength: 12
                        pattern: '^\+7(700|701|702|705|707|708|747|771|775|776|777|778|710|711|712|713|714|715|716|717|718|721|722|723|724|725|726|727|728|729|736)\d{7}$'
                      extra:
                        type: string
                        maxLength: 255
                      variables:
                        type: object
                        description: Переменные для персонализации SMS. Ключи — `[a-zA-Z0-9_]`.
                        additionalProperties: { type: string }
      responses:
        '201':
          description: Список успешно дополнен.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  client_id: { type: [string, "null"] }
                  contacts_count: { type: integer }
                  created_at: { type: string }
                  updated_at: { type: string }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }

  /lists/nonexistent/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID списка
    delete:
      summary: Удалить несуществующие номера из списка
      operationId: delete-lists-nonexistent-id
      tags: [Списки контактов]
      description: |
        Удаляет из списка номера, которые оператор пометил как несуществующие в ходе обзвонов.
        Несуществующие номера появляются в поле `nonexistent` после завершения обзвона.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Несуществующие номера удалены.
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }
    put:
      summary: Проигнорировать несуществующие номера
      operationId: put-lists-nonexistent-id
      tags: [Списки контактов]
      description: Сбрасывает флаг несуществующих номеров в списке без их удаления.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Флаг сброшен, возвращается обновлённый объект списка.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContactList' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  # ─────────────────────────────────────────
  # КОНТАКТЫ
  # ─────────────────────────────────────────

  /contacts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID контакта
    get:
      summary: Показать контакт
      operationId: get-contacts-id
      tags: [Контакты]
      description: Возвращает информацию о конкретном контакте по его ID.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Объект контакта.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Contact' }
              example:
                id: 49
                list_id: 73
                number: "+77010000000"
                extra: "Иванов И.И."
                created_at: "2024-03-31 05:55:19"
                updated_at: "2024-03-31 05:55:19"
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }
    delete:
      summary: Удалить контакт
      operationId: delete-contacts-id
      tags: [Контакты]
      description: Удаляет контакт из списка контактов.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Контакт удалён.
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  # ─────────────────────────────────────────
  # АУДИОЗАПИСИ
  # ─────────────────────────────────────────

  /sounds/voices:
    get:
      summary: Получить список голосов синтеза
      operationId: get-synthesis-voices
      tags: [Аудиозаписи]
      description: |
        Голоса, доступные в поле `voice` при синтезе речи.

        У каждого голоса есть `sample_url` — прямая ссылка на короткий сэмпл (m4a), по которой
        его можно послушать перед выбором.

        Поле `realtime` показывает, годится ли голос для элемента «Сказать текст» в сценарии:
        там синтез идёт **во время звонка**, поэтому подходят только быстрые голоса. Если
        указать голос с `realtime: false`, он будет автоматически заменён на быстрый — абонент
        иначе слушал бы несколько секунд тишины.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  default:
                    type: string
                    description: Голос, который используется, если поле `voice` не передано
                    example: Sulafat
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:       { type: string, description: "Значение для поля `voice`", example: Sulafat }
                        title:      { type: string, description: Название в личном кабинете, example: Айгерим }
                        gender:     { type: string, enum: [male, female] }
                        languages:  { type: array, items: { type: string }, description: "Языки голоса (kk, ru, en)" }
                        realtime:   { type: boolean, description: Годится ли для озвучки во время звонка }
                        pitch:      { type: boolean, description: "Поддерживает ли голос параметр `pitch` (высота тона)" }
                        emotions:   { type: boolean, description: "Понимает ли пометки эмоций в тексте — см. описание поля `text`" }
                        sample_url: { type: string, format: uri, description: Ссылка на сэмпл голоса }
              example:
                default: Sulafat
                data:
                  - name: Sulafat
                    title: Айгерим
                    gender: female
                    languages: [kk, ru, en]
                    realtime: false
                    pitch: false
                    emotions: true
                    sample_url: https://autocall.kz/voices/tts-samples/Sulafat.m4a
                  - name: madi
                    title: Мади
                    gender: male
                    languages: [kk]
                    realtime: true
                    pitch: true
                    emotions: false
                    sample_url: https://autocall.kz/voices/tts-samples/madi.m4a
        '401': { $ref: '#/components/responses/401' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  /sounds:
    get:
      summary: Получить все аудиозаписи
      operationId: get-sounds
      tags: [Аудиозаписи]
      description: Возвращает все аудиозаписи аккаунта с постраничным выводом.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Постраничный вывод аудиозаписей.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Sound'
        '401': { $ref: '#/components/responses/401' }
        '429': { $ref: '#/components/responses/429' }

    post:
      summary: Создать аудиозапись
      operationId: post-sounds
      tags: [Аудиозаписи]
      description: |
        Создаёт аудиозапись двумя способами:
        - `synthesis` — синтез речи из текста
        - `upload` — загрузка файла mp3/wav/ogg в формате Base64
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Параметры новой аудиозаписи.
        content:
          application/json:
            schema:
              type: object
              required: [name, type, data]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Название аудиозаписи
                type:
                  type: string
                  enum: [synthesis, upload]
                  description: Тип — синтез речи или загрузка файла
                data:
                  type: array
                  minItems: 1
                  maxItems: 1
                  description: Массив с одним объектом параметров аудио
                  items:
                    type: object
                    properties:
                      text:
                        type: string
                        minLength: 1
                        maxLength: 400
                        description: >
                          Если `type=synthesis`: текст для синтеза (обязательно).


                          У голосов с `emotions: true` в тексте можно ставить подсказку интонации в
                          квадратных скобках — она задаёт, КАК произнести следующую фразу, и вслух не
                          читается: `Здравствуйте! [радостно] Ваш заказ уже в пути.`
                          Подойдёт почти любое слово: радостно, грустно, шёпотом, устало, строго, смеюсь.
                          У голосов с `emotions: false` такие пометки вырезаются перед синтезом —
                          текст озвучится без них, ошибки не будет.
                      voice:
                        type: string
                        default: Sulafat
                        description: >
                          Если `type=synthesis`: голос для синтеза.
                          Полный список с прослушиванием — в [`GET /sounds/voices`](#/paths/~1sounds~1voices/get):
                          там у каждого голоса есть `sample_url`, по которой сэмпл можно послушать.
                          Список намеренно не продублирован здесь — голоса добавляются и выключаются,
                          и копия в документации протухла бы к следующему релизу.
                          Если поле не передано, используется `Sulafat` (женский, казахский/русский/английский).
                      speed:
                        type: number
                        default: 1
                        minimum: 0.25
                        maximum: 4
                        description: "Если type=synthesis: скорость речи"
                      pitch:
                        type: number
                        default: 0
                        minimum: -20
                        maximum: 20
                        description: >
                          Если `type=synthesis`: высота тона.
                          Работает только у голосов с `pitch: true` в `GET /sounds/voices`.
                          Новые голоса такого параметра не имеют, и для них значение игнорируется.
                      file:
                        type: string
                        description: "Если type=upload: файл в формате Base64 (mp3/wav/ogg, обязательно)"
                client_id:
                  type: string
                  maxLength: 60
                  description: ID в Вашей системе
            examples:
              Синтез речи:
                value:
                  name: "Уведомление об оплате"
                  type: synthesis
                  data:
                    - text: "Здравствуйте! Напоминаем об оплате до конца месяца."
                      voice: Sulafat
                      speed: 1
              Загрузка файла:
                value:
                  name: "Моё приветствие"
                  type: upload
                  data:
                    - file: "base64_строка_файла_mp3"
      responses:
        '201':
          description: Аудиозапись создана и отправлена на модерацию.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sound' }
        '401': { $ref: '#/components/responses/401' }
        '402':
          description: Недостаточно средств для синтеза речи.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorMessage' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  /sounds/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID аудиозаписи
    get:
      summary: Показать аудиозапись
      operationId: get-sounds-id
      tags: [Аудиозаписи]
      description: Возвращает детальную информацию об аудиозаписи.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Объект аудиозаписи.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sound' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }
    put:
      summary: Редактировать аудиозапись
      operationId: put-sounds-id
      tags: [Аудиозаписи]
      description: Изменяет название или client_id аудиозаписи.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 40
                client_id:
                  type: string
                  maxLength: 60
      responses:
        '200':
          description: Обновлённый объект аудиозаписи.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sound' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }
    delete:
      summary: Удалить аудиозапись
      operationId: delete-sounds-id
      tags: [Аудиозаписи]
      description: Удаляет аудиозапись из аккаунта.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Аудиозапись удалена.
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  /sounds/listen/{file}:
    parameters:
      - name: file
        in: path
        required: true
        schema: { type: string }
        description: Имя аудиофайла из поля `data` интерактивных обзвонов
    get:
      summary: Получить запись из интерактивного обзвона
      operationId: get-sounds-listen-file
      tags: [Аудиозаписи]
      description: |
        Доступ к записям голосовых ответов абонентов в интерактивных обзвонах (элемент типа `record`).

        В зависимости от параметра `type`:
        - `download` — сервер вернёт файл для скачивания
        - `text` — сервер вернёт JSON с распознанным текстом (тарифицируется)
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [download, text]
          description: Способ получения записи
      responses:
        '200':
          description: Файл для скачивания или объект с текстом.
          content:
            application/json:
              schema:
                type: object
                required: [text]
                properties:
                  text:
                    type: [string, "null"]
                    description: Распознанный текст (только при type=text)
        '401': { $ref: '#/components/responses/401' }
        '402':
          description: Недостаточно средств для распознавания речи.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorMessage' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }

  # ─────────────────────────────────────────
  # СЦЕНАРИИ
  # ─────────────────────────────────────────

  /scenarios:
    get:
      summary: Получить все сценарии
      operationId: get-scenarios
      tags: [Сценарии]
      description: Возвращает все сценарии аккаунта с постраничным выводом.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Постраничный вывод сценариев.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Scenario'
        '401': { $ref: '#/components/responses/401' }
        '429': { $ref: '#/components/responses/429' }

    post:
      summary: Создать сценарий
      operationId: post-scenarios
      tags: [Сценарии]
      description: Создаёт новый интерактивный сценарий для обзвонов. Сценарий передаётся как JSON-строка в параметре `data`.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Параметры нового сценария.
        content:
          application/json:
            schema:
              type: object
              required: [name, data]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Название сценария
                data:
                  type: string
                  description: |
                    Граф сценария — JSON-объект, **сериализованный в строку** (`json_encode` в PHP,
                    `JSON.stringify` в JS, `json.dumps` в Python). Ключи объекта = id элементов.

                    📖 **Полный справочник структуры, всех типов элементов и три готовых примера —
                    в описании раздела «Сценарии» выше.** Ниже — минимальный рабочий сценарий
                    (объект ДО сериализации):
                    ```json
                    {
                      "START":       { "id": "START", "type": "start", "name": "Начало", "next": "TALK_DETECT" },
                      "TALK_DETECT": { "id": "TALK_DETECT", "type": "talk_detect", "name": "Ждём речи", "next": "a1b2c3" },
                      "a1b2c3":      { "id": "a1b2c3", "type": "playback", "name": "Приветствие", "next": "END", "data": 12345 },
                      "END":         { "id": "END", "type": "end", "name": "Конец", "next": null }
                    }
                    ```
                    `data: 12345` у `playback` — id Вашей аудиозаписи (см. раздел «Аудиозаписи»).

                    Доступные типы: `start`, `talk_detect`, `end`, `playback`, `record`, `dtmf`,
                    `speech`, `dial`, `sms`, `sms_me`, `request`, `say`, `stt_var`, `setvar`,
                    `ifelse`, `switchvar` — те же, что и в конструкторе на сайте.
                client_id:
                  type: string
                  maxLength: 60
                  description: ID в Вашей системе
      responses:
        '201':
          description: Сценарий создан и отправлен на модерацию.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Scenario' }
        '401': { $ref: '#/components/responses/401' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  /scenarios/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID сценария
    get:
      summary: Показать сценарий
      operationId: get-scenarios-id
      tags: [Сценарии]
      description: Возвращает детальную информацию о сценарии, включая его структуру.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Объект сценария с полной структурой.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScenarioDetail' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }
    put:
      summary: Редактировать сценарий
      operationId: put-scenarios-id
      tags: [Сценарии]
      description: |
        Изменяет название, структуру или client_id сценария. Передавайте только те поля,
        которые меняете.

        ⚠️ `data` здесь — такая же **строка** с закодированным JSON, как при создании.
        А `GET /scenarios/{id}` отдаёт `data` уже **объектом**: чтобы изменить существующий
        сценарий, разберите ответ, поправьте нужный элемент и сериализуйте обратно.
        Структура графа целиком — в описании раздела «Сценарии».
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 40 }
                data:
                  type: string
                  description: Новый граф сценария, сериализованный в строку. Заменяет структуру целиком.
                client_id: { type: string, maxLength: 60 }
      responses:
        '200':
          description: Обновлённый объект сценария.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScenarioDetail' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }
    delete:
      summary: Удалить сценарий
      operationId: delete-scenarios-id
      tags: [Сценарии]
      description: Удаляет сценарий из аккаунта.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Сценарий удалён.
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  # ─────────────────────────────────────────
  # ИИ-АГЕНТЫ
  # ─────────────────────────────────────────

  /agents:
    get:
      summary: Получить всех ИИ-агентов
      operationId: get-agents
      tags: [ИИ-агенты]
      description: |
        Возвращает всех агентов аккаунта с постраничным выводом.

        #### Статусы агента
        | Статус | Значение | Можно в обзвон |
        |--------|----------|----------------|
        | `generating` | считаются параметры агента | нет |
        | `ready` | готов | да |
        | `failed` | не удалось подготовить | нет |
        | `draft` | черновик из мастера в личном кабинете | нет |
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/Page'
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [draft, generating, ready, failed]
          description: Оставить только агентов с этим статусом.
      responses:
        '200':
          description: Постраничный вывод агентов.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Agent' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }

    post:
      summary: Создать ИИ-агента
      operationId: post-agents
      tags: [ИИ-агенты]
      description: |
        Создаёт голосового ИИ-агента. В ответе агент со статусом `generating` —
        дождитесь `ready` (опрашивайте `GET /agents/{id}`), прежде чем ставить его в обзвон.

        #### Из чего состоит агент
        - **`prompt`** — сценарий разговора обычным текстом. Обязан содержать три секции,
          см. ниже. Правила безопасности мы дописываем сами — их указывать не нужно.
        - **`data_schema`** — что агент должен вынести из разговора. Эти поля попадут
          в результат звонка и в выгрузку обзвона.
        - **`tools`** — необязательные действия по ходу разговора: отправить SMS (`sms`)
          или сходить запросом на ваш сервер и озвучить ответ (`http`).
        - **`voice`** — голос агента, из `GET /agents/voices`.
        - **`max_seconds`** — потолок длительности разговора. Он же потолок стоимости звонка.

        #### Обязательные секции `prompt`
        Сценарий должен содержать три секции — иначе `422`:

        | Секция | Что в ней |
        |--------|-----------|
        | `## Кто ты` | Имя агента, от лица какой компании звонит, характер в 2–4 словах |
        | `## Задача звонка` | Чего добиться, 1–2 предложения, конкретно |
        | `## Ход разговора` | Шаги разговора. Первым шагом — дословная первая фраза |

        Секция — это заголовок `## Название` (можно глубже: `###`) и **непустой** текст под ним.
        Регистр и лишние пробелы не важны, порядок секций — любой.

        Дальше по желанию — `## Что собрать`, `## Инструменты`, `## Границы` (чего не обещать,
        что отвечать на неудобные вопросы) и любые свои секции.

        ⚠️ Чем длиннее `prompt`, тем дороже каждый звонок: сценарий заново отправляется модели
        на каждой реплике. Пишите плотно, без воды и повторов.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgentCreate' }
            examples:
              Простой агент — подтверждение записи:
                value:
                  name: "Асель"
                  voice: "Sulafat"
                  max_seconds: 180
                  prompt: |
                    ## Кто ты
                    Асель — женский голос стоматологии «Дента». Звонишь пациенту подтвердить
                    запись на приём. Характер: спокойная, вежливая, без напора.

                    ## Задача звонка
                    Узнать, придёт ли пациент в назначенное время. Если не придёт — предложить
                    перенести на другой день и записать желаемую дату.

                    ## Ход разговора
                    1. Первая фраза РОВНО: «Здравствуйте! Это Асель, стоматология Дента.
                       Вы записаны к нам на приём — подскажите, всё в силе?»
                    2. Подтвердил — поблагодари, напомни время и попрощайся.
                    3. Не придёт — спроси, на какой день перенести, повтори дату вслух.
                    4. Просит перезвонить позже — согласись и заверши разговор.

                    ## Границы
                    Про цены: консультация бесплатная, стоимость лечения врач назовёт на приёме.
                    Не ставь диагнозов и не обещай скидок.
                  data_schema:
                    - { key: "confirmed", label: "Подтвердил приём" }
                    - { key: "new_date", label: "Просит перенести на" }
                    - { key: "comment", label: "Комментарий" }
              Агент с SMS и запросом на ваш сервер:
                value:
                  name: "Ерлан"
                  voice: "Charon"
                  max_seconds: 300
                  client_id: "sales-agent-v2"
                  prompt: |
                    ## Кто ты
                    Ерлан — мужской голос интернет-магазина «Технодом». Звонишь клиенту,
                    который оставил заявку на сайте. Характер: бодрый, деловой.

                    ## Задача звонка
                    Выяснить, актуален ли заказ, и ответить на вопросы клиента по нему.

                    ## Ход разговора
                    1. Первая фраза РОВНО: «Здравствуйте! Ерлан, магазин Технодом.
                       Вы оставляли заявку — вам ещё актуально?»
                    2. Актуально — уточни, есть ли вопросы, и передай заказ в работу.
                    3. Спрашивает про доставку — скажи «секундочку, посмотрю» и проверь статус.
                    4. Просит прайс — предложи отправить SMS и отправь.

                    ## Границы
                    Сроки доставки называй только те, что вернул сервер. Скидок не обещай.
                  data_schema:
                    - { key: "interested", label: "Заказ актуален" }
                    - { key: "question", label: "Вопрос клиента" }
                  tools:
                    - type: sms
                      name: "price"
                      when: "клиент попросил прислать прайс"
                      text: "Прайс-лист: https://example.kz/price"
                    - type: http
                      name: "delivery"
                      when: "клиент спрашивает о статусе доставки"
                      method: GET
                      url: "https://api.example.kz/delivery?phone={{phone}}"
                      headers:
                        - { key: "Authorization", value: "Bearer ВАШ_ТОКЕН" }
                      bodyType: none
                      response_template: "Ваш заказ {{status}}, ожидайте {{eta}}."
                      fallback: "Не получилось проверить прямо сейчас, перезвоним."
      responses:
        '201':
          description: Агент создан, идёт подготовка (`status=generating`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }
        '401': { $ref: '#/components/responses/401' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  /agents/voices:
    get:
      summary: Получить список голосов
      operationId: get-agent-voices
      tags: [ИИ-агенты]
      description: |
        Доступные голоса агентов. Значение `name` передаётся в поле `voice` при создании агента,
        `sample` — ссылка на аудиофрагмент для прослушивания.

        Пол голоса важен: агент говорит о себе в первом лице, поэтому `prompt` пишите
        в роде выбранного голоса.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Список голосов.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Voice' }
        '401': { $ref: '#/components/responses/401' }
        '429': { $ref: '#/components/responses/429' }

  /agents/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID агента.
    get:
      summary: Получить ИИ-агента
      operationId: get-agent
      tags: [ИИ-агенты]
      description: Возвращает агента по ID. Этим же запросом опрашивают готовность (`status=ready`).
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Агент.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }

    put:
      summary: Изменить ИИ-агента
      operationId: put-agent
      tags: [ИИ-агенты]
      description: |
        Меняет только переданные поля. `data_schema` и `tools` при передаче заменяются
        целиком — чтобы удалить поле или инструмент, пришлите массив без него.

        Изменение `prompt` или `max_seconds` возвращает агента в `generating`: параметры
        считаются заново. Уже созданные обзвоны это не затрагивает — они звонят по слепку
        агента, снятому при создании обзвона.

        `active: false` временно выводит агента из оборота, не удаляя его.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgentUpdate' }
            examples:
              Поправить сценарий:
                value:
                  prompt: |
                    ## Кто ты
                    Асель — женский голос стоматологии «Дента». Характер: спокойная, вежливая.

                    ## Задача звонка
                    Подтвердить запись пациента на приём.

                    ## Ход разговора
                    1. Первая фраза РОВНО: «Здравствуйте! Это Асель из стоматологии Дента.»
                    2. Уточни, придёт ли пациент в назначенное время.
              Временно отключить:
                value:
                  active: false
      responses:
        '200':
          description: Агент изменён.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

    delete:
      summary: Удалить ИИ-агента
      operationId: delete-agent
      tags: [ИИ-агенты]
      description: |
        Удаляет агента. Отчёты по уже завершённым обзвонам с ним сохраняются.

        Агента, занятого в незавершённом обзвоне (`running`, `awaiting`, `moderation`),
        удалить нельзя — дождитесь окончания обзвона или остановите его.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Агент удалён.
        '401': { $ref: '#/components/responses/401' }
        '403':
          description: Агент занят в незавершённом обзвоне.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorMessage' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  # ─────────────────────────────────────────
  # ОБЗВОНЫ
  # ─────────────────────────────────────────

  /autocalls:
    get:
      summary: Получить все обзвоны
      operationId: get-autocalls
      tags: [Обзвоны]
      description: |
        Возвращает все обзвоны аккаунта с постраничным выводом.

        #### Статусы обзвонов
        | Статус | Значение | Окончательный |
        |--------|----------|---------------|
        | `running` | выполняется | нет |
        | `completed` | завершён успешно | да |
        | `awaiting` | ожидает своего времени | нет |
        | `moderation` | на модерации | нет |
        | `denied` | запрещён модераторами | да |
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Постраничный вывод обзвонов.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AutocallSummary'
        '401': { $ref: '#/components/responses/401' }
        '429': { $ref: '#/components/responses/429' }

    post:
      summary: Создать обзвон
      operationId: post-autocalls
      tags: [Обзвоны]
      description: |
        Создаёт новый обзвон. Поддерживает три типа:
        - `regular` — обычный обзвон с аудиозаписью (нужен `audio_id`)
        - `interactive` — интерактивный обзвон по сценарию (нужен `scenario_id`)
        - `agent` — живой разговор с голосовым ИИ-агентом (нужен `agent_id`)

        В `list_id` можно передавать как ID существующих списков, так и объекты с номерами напрямую (будет создан автоматический список).
        В `audio_id` можно передавать как ID существующих аудиозаписей, так и объекты для создания новых (синтез или загрузка).

        Если общее количество номеров ≤ 5000 — ответ `201` (создан сразу).
        Если > 5000 — ответ `202` (создаётся в фоне).
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Параметры нового обзвона.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutocallCreate'
            examples:
              Отправка OTP:
                summary: Голосовой одноразовый код — одним запросом, без списков и аудиозаписей
                description: |
                  Один запрос — один код. Номер и текст для синтеза передаются прямо в запросе,
                  создавать список и загружать аудио заранее не нужно.

                  **Как писать текст.** Цифры кода разделяйте пробелами (`3 0 7 5`) — тогда
                  голос читает их по одной, а не как число «три тысячи семьдесят пять». Вокруг
                  кода оставляйте постоянную фразу («Ваш код подтверждения…»): она нужна, чтобы
                  модератор мог одобрить ФОРМУ сообщения, а не каждый код по отдельности.

                  **Модерация.** Первый такой обзвон уйдёт на проверку. Модератор может одобрить
                  все будущие коды с той же формулировкой — после этого OTP проходят без ожидания.
                  ⚠️ Код пишите прямо в тексте, а НЕ через переменные `{{code}}`: текст с
                  переменными каждый раз проверяется заново, и OTP будет ждать модератора при
                  каждой отправке.

                  **Время.** Окно `time_from`–`time_to` ограничено вашим тарифом (см. профиль).
                  Для OTP проверьте, что оно покрывает часы, когда вашим клиентам нужен код.

                  `max_tries: 1` — повторный звонок с тем же кодом через час обычно бесполезен:
                  код к тому времени истёк. Вместо повтора — SMS с кодом тем, кто не ответил.
                value:
                  name: "OTP"
                  type: regular
                  time_from: "00:00:00"
                  time_to: "23:59:59"
                  max_tries: 1
                  audio_id:
                    - type: synthesis
                      data:
                        text: "Ваш код подтверждения: 3 0 7 5. Повторяю: 3 0 7 5."
                        voice: Sulafat
                  list_id:
                    - number: "+77010000000"
                  sms_unanswered: true
                  text_unanswered: "Ваш код подтверждения: 3075"
                  callback_url: "https://example.com/otp-status"
              Обычный обзвон:
                value:
                  name: "Уведомление об акции"
                  type: regular
                  time_from: "10:00:00"
                  time_to: "20:00:00"
                  audio_id: [5]
                  list_id: [10]
              Без создания списка — номера прямо в запросе:
                summary: Создавать список контактов заранее НЕ нужно — передайте номера в list_id
                description: |
                  Не обязательно сначала вызывать `POST /lists`. Можно передать номера
                  напрямую в `list_id` как массив объектов `{ "number": "+7..." }` —
                  система сама создаст временный список. То же работает для `audio_id`
                  (можно передать существующий ID или объект для синтеза/загрузки).
                value:
                  name: "Уведомление об акции"
                  type: regular
                  time_from: "10:00:00"
                  time_to: "20:00:00"
                  audio_id: [5]
                  list_id:
                    - number: "+77010000001"
                    - number: "+77010000002"
                    - number: "+77010000003"
              Обзвон ИИ-агентом:
                summary: Живой разговор — агент сам ведёт диалог и заполняет поля результата
                description: |
                  Агент должен быть в статусе `ready` (см. `GET /agents`). Переменные контакта
                  (`variables`) агент знает во время разговора и обращается к абоненту по имени.

                  Аудиозаписи не нужны — весь разговор ведёт агент.
                value:
                  name: "Подтверждение записи на приём"
                  type: agent
                  agent_id: 42
                  time_from: "10:00:00"
                  time_to: "19:00:00"
                  max_tries: 2
                  tries_interval: 60
                  record: true
                  list_id:
                    - number: "+77010000001"
                      variables: { name: "Иван", time: "14:30" }
                    - number: "+77010000002"
                      variables: { name: "Пётр", time: "16:00" }
                  callback_url: "https://example.com/reports"
              Интерактивный обзвон:
                value:
                  name: "Опрос удовлетворённости"
                  type: interactive
                  time_from: "10:00:00"
                  time_to: "18:00:00"
                  scenario_id: 512
                  list_id: [15]
                  max_tries: 3
                  tries_interval: 60
                  record: true
                  callback_url: "https://example.com/reports"
              С новыми номерами и синтезом:
                value:
                  name: "Код подтверждения"
                  type: regular
                  time_from: "00:00:00"
                  time_to: "23:59:59"
                  audio_id:
                    - type: synthesis
                      data:
                        text: "Ваш код подтверждения: 3 0 7 5."
                        voice: Sulafat
                  list_id:
                    - number: "+77010000000"
                  sms_unanswered: true
                  text_unanswered: "Ваш код: 3075"
              С персональными SMS недозвонившимся:
                summary: Переменные подставляются в SMS для тех, кто не ответил
                value:
                  name: "Напоминание о записи"
                  type: regular
                  time_from: "10:00:00"
                  time_to: "20:00:00"
                  audio_id: [5]
                  list_id:
                    - number: "+77010000001"
                      variables: { name: "Иван", time: "14:30" }
                    - number: "+77010000002"
                      variables: { name: "Пётр", time: "16:00" }
                  sms_unanswered: true
                  text_unanswered: "{{name}}, мы не дозвонились. Ждём вас в {{time}}."
      responses:
        '201':
          description: Обзвон создан (до 5000 номеров).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AutocallDetail' }
        '202':
          description: Обзвон принят в обработку (более 5000 номеров, создаётся в фоне).
        '401': { $ref: '#/components/responses/401' }
        '403':
          description: Обзвон отклонён из-за подозрения в спаме (слишком много номеров с короткой аудиозаписью).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationError' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }

  /autocalls/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID обзвона
    get:
      summary: Показать обзвон
      operationId: get-autocalls-id
      tags: [Обзвоны]
      description: |
        Возвращает детальную информацию об обзвоне, включая статистику и постраничный список всех звонков.

        #### Статусы звонков
        | Статус | Значение | Окончательный |
        |--------|----------|---------------|
        | `in_queue` | в очереди | нет |
        | `success` | успешно | да |
        | `recalled` | перезвонил сам | да |
        | `no_answer` | нет ответа | да |
        | `busy` | занято | да |
        | `error` | не существует | да |
        | `spam` | пожаловался на спам | да |
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Детальный объект обзвона со статистикой и звонками.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AutocallDetail' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }
    put:
      summary: Редактировать обзвон
      operationId: put-autocalls-id
      tags: [Обзвоны]
      description: |
        Изменяет параметры обзвона. Доступно только для обзвонов в статусах `awaiting` и `moderation`.
        Редактируются только перечисленные ниже поля.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 40 }
                time_from: { type: string, minLength: 8, maxLength: 8 }
                time_to: { type: string, minLength: 8, maxLength: 8 }
                tries_interval:
                  type: integer
                  enum: [15, 30, 60, 120]
                date_from: { type: string, minLength: 10, maxLength: 10 }
                client_id: { type: string, maxLength: 60 }
                callback_url: { type: string, maxLength: 256 }
      responses:
        '200':
          description: Обновлённый объект обзвона.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AutocallDetail' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }
    delete:
      summary: Удалить обзвон
      operationId: delete-autocalls-id
      tags: [Обзвоны]
      description: Удаляет обзвон. Нельзя удалить обзвон в статусе `running`.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Обзвон удалён.
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }
        '500': { $ref: '#/components/responses/500' }

  /autocalls/calculate:
    post:
      summary: Узнать стоимость обзвона
      operationId: post-autocalls-calculate
      tags: [Обзвоны]
      description: Рассчитывает максимальную стоимость обзвона до его создания. Принимает те же параметры, что и создание обзвона.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AutocallCreate' }
      responses:
        '201':
          description: Максимальная стоимость обзвона.
          content:
            application/json:
              schema:
                type: object
                required: [max_cost]
                properties:
                  max_cost: { type: number }
              example:
                max_cost: 245.60
        '401': { $ref: '#/components/responses/401' }
        '403':
          description: Обзвон отклонён из-за подозрения в спаме.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationError' }
        '422': { $ref: '#/components/responses/422' }
        '429': { $ref: '#/components/responses/429' }

  /autocalls/relaunch/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID завершённого обзвона
    get:
      summary: Перезапустить обзвон
      operationId: get-autocalls-relaunch-id
      tags: [Обзвоны]
      description: |
        Создаёт новый список контактов из номеров завершённого обзвона, которые **не были успешно обзвонены**.
        Удобно для повторного обзвона недозвонившихся.
        Работает только для обзвонов со статусом `completed`.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Новый список контактов создан.
          content:
            application/json:
              schema:
                type: object
                required: [id, name, updated_at, created_at, used, contacts_count, importing]
                properties:
                  id: { type: integer, description: ID нового списка }
                  name: { type: string }
                  created_at: { type: string }
                  updated_at: { type: string }
                  used: { type: integer }
                  contacts_count: { type: integer }
                  importing: { type: boolean }
        '401': { $ref: '#/components/responses/401' }
        '403':
          description: Обзвон ещё не завершён.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationError' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }

  /calls/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID звонка
    get:
      summary: Показать звонок
      operationId: get-calls-id
      tags: [Обзвоны]
      description: Возвращает детальную информацию о конкретном звонке по его ID.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Объект звонка.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Call' }
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }

  /calls/recordings/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID звонка
    get:
      summary: Скачать запись разговора
      operationId: get-calls-recordings-id
      tags: [Обзвоны]
      description: |
        Возвращает аудиофайл записи разговора для указанного звонка.
        Записи доступны только если при создании обзвона был указан параметр `record: true`.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Аудиофайл записи разговора (бинарный контент).
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }

  /calls/{id}/transcript:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
        description: ID звонка
    get:
      summary: Расшифровка разговора
      operationId: get-calls-id-transcript
      tags: [Обзвоны]
      description: |
        Возвращает диалог абонента с ИИ-агентом — то же, что видно в личном кабинете.

        Доступна только для обзвонов типа `agent` и **не зависит** от параметра `record`:
        расшифровка снимается из разговора напрямую, а не из аудиозаписи. Для обычных и
        интерактивных обзвонов вернётся пустой `transcript`.

        Расшифровка появляется после завершения разговора и в течение нескольких секунд
        после него может уточняться (автоматическая правка коротких реплик абонента).
        Если забираете её по вебхуку — берите с небольшой задержкой либо перечитывайте.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Расшифровка разговора.
          content:
            application/json:
              schema:
                type: object
                properties:
                  call_id: { type: integer }
                  number: { type: string, description: Номер абонента }
                  transcript:
                    type: array
                    description: Реплики в порядке разговора.
                    items:
                      type: object
                      properties:
                        role:
                          type: string
                          enum: [agent, customer, system]
                          description: "`agent` — ИИ-агент, `customer` — абонент, `system` — пометка сервиса (например, перевод на сотрудника: сам разговор с ним не записывается)"
                        text: { type: string }
                  text:
                    type: string
                    description: Тот же диалог одним текстом, по реплике на строку.
              example:
                call_id: 12345
                number: "+77010000001"
                transcript:
                  - { role: agent, text: "Здравствуйте! Вам удобно говорить?" }
                  - { role: customer, text: "Да, слушаю" }
                text: "Агент: Здравствуйте! Вам удобно говорить?\nАбонент: Да, слушаю"
        '401': { $ref: '#/components/responses/401' }
        '404': { $ref: '#/components/responses/404' }
        '429': { $ref: '#/components/responses/429' }

  # ─────────────────────────────────────────
  # SMS РАССЫЛКИ
  # ─────────────────────────────────────────

  /bulks:
    get:
      summary: Получить все рассылки
      operationId: get-bulks
      tags: [SMS рассылки]
      description: Возвращает все SMS рассылки аккаунта с постраничным выводом.
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Постраничный вывод рассылок.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BulkSummary'
        '401': { $ref: '#/components/responses/401' }
        '429': { $ref: '#/components/responses/429' }

    post:
      summary: Создать рассылку
      operationId: post-bulks
      tags: [SMS рассылки]
      description: |
        Создаёт новую SMS рассылку.
        В `list_id` можно передавать ID существующих списков или объекты с номерами напрямую (максимум 5000).
        Для большего количества — сначала создайте список контактов через `/lists`.

        #### Персонализация через переменные `{{varname}}`
        В тексте рассылки можно использовать переменные контактов вида `{{name}}`, `{{debt}}` и т.п.
        При отправке каждая переменная заменяется на значение из поля `variables` соответствующего контакта.
        Это позволяет отправить персональные сообщения тысячам получателей **одним** запросом.

        Пример текста: `Здравствуйте, {{name}}! Ваш долг {{debt}} тенге. Оплатите!`

        Переменные берутся из контактов, у которых они заданы — либо в существующем списке
        (см. `POST /lists` и `POST /lists/append/{id}`), либо в объектах номеров, переданных в `list_id` напрямую.
        Неизвестная переменная (для которой у контакта нет значения) заменяется на пустую строку.

        > ⚠️ Стоимость и количество SMS-сегментов рассчитываются по «худшему случаю» — берётся
        > самое длинное значение каждой переменной среди всех контактов. Помните, что кириллица
        > использует Unicode-кодировку (до 70 символов в сегменте против 160 для латиницы).
      parameters:
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Параметры рассылки.
        content:
          application/json:
            schema:
              type: object
              required: [name, text, list_id]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 40
                  description: Название рассылки
                text:
                  type: string
                  minLength: 1
                  maxLength: 1600
                  description: |
                    Текст SMS сообщения. Поддерживает переменные вида `{{varname}}`, которые
                    заменяются на значения из поля `variables` каждого контакта.
                    Например: `Здравствуйте, {{name}}! Ваш долг {{debt}} тенге.`
                list_id:
                  type: array
                  minItems: 1
                  maxItems: 5000
                  description: ID списков контактов и/или объекты с номерами
                  items:
                    oneOf:
                      - type: integer
[...]
